Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{ts,js}": ["prettier --write"],
  "packages/**/*.{json,md}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

ci: allowlist dotenv-mono for build scripts
  pnpm-workspace.yaml
Due: none

fix: update deps to resolve security vulnerabilities
  package.json
  packages/mcp_server/package.json
  packages/mcp_server/src/integration-tests/setup/test-server.ts
  packages/telegram_bot/package.json
  packages/telegram_bot/src/mcp/connection-manager.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: update react versions to resolve compatibility
  package.json
  packages/web-client/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: redact api keys in logs and fix markdown escaping
  packages/mcp_server/src/integration-tests/setup/test-server.ts
  packages/telegram_bot/src/bot/commands/start.ts
Due: eslint --fix, prettier --write

fix: remove api key from logs completely
  packages/mcp_server/src/integration-tests/setup/test-server.ts
Due: eslint --fix, prettier --write

fix: use empty options object for mcp client initialization
  packages/mcp_server/src/integration-tests/setup/test-server.ts
  packages/telegram_bot/src/mcp/connection-manager.ts
Due: eslint --fix, prettier --write

fix: pin mcp sdk to 1.24.0 and simplify client init
  packages/mcp_server/package.json
  packages/mcp_server/src/integration-tests/setup/test-server.ts
  packages/telegram_bot/package.json
  packages/telegram_bot/src/mcp/connection-manager.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: upgrade fastmcp to 3.25.4 and mcp sdk to 1.25.1
  packages/mcp_server/package.json
  packages/telegram_bot/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: document changeset workflow and create changeset
  .changeset/claude-md-consistency.md
  CLAUDE.md
Due: prettier --write

chore: simplify changesets and add github changelog
  .changeset/claude-md-consistency.md
  .changeset/config.json
  .changeset/fix-gtd-calendar-briefing.md
  .changeset/import-formatting.md
  .changeset/printer-daily-briefing.md
  .changeset/show-icons-only-on-hover.md
  .changeset/tanstack-query-integration.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: simplify changesets and add github changelog (#257)
  .changeset/claude-md-consistency.md
  .changeset/config.json
  .changeset/fix-gtd-calendar-briefing.md
  .changeset/import-formatting.md
  .changeset/printer-daily-briefing.md
  .changeset/show-icons-only-on-hover.md
  .changeset/tanstack-query-integration.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add improved filtering task specification
  spec/todos/work/2025-09-25-15-51-03-improved-filtering/task.md
Due: prettier --write

feat: implement improved filtering with status, context, and time range filters
  packages/web-client/src/components/add_todo.test.tsx
  packages/web-client/src/components/add_todo.tsx
  packages/web-client/src/components/eddo_context_filter.tsx
  packages/web-client/src/components/status_filter.tsx
  packages/web-client/src/components/time_range_filter.tsx
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/database_setup.ts
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_eddo_contexts.ts
  spec/todos/work/2025-09-25-15-51-03-improved-filtering/task.md
Due: eslint --fix, prettier --write

perf: add fallback to traditional queries when Mango fails
  packages/web-client/src/components/todo_board.tsx
Due: eslint --fix, prettier --write

docs: update task progress after implementation completion
  spec/todos/work/2025-09-25-15-51-03-improved-filtering/task.md
Due: prettier --write

fix: simplify query logic to use traditional approach only
  packages/web-client/src/components/todo_board.tsx
  spec/todos/work/2025-09-25-15-51-03-improved-filtering/task.md
Due: eslint --fix, prettier --write

refactor: enhance client-side filtering with context/status
  packages/web-client/src/components/todo_board.tsx
Due: eslint --fix, prettier --write

fix: apply filtering to activities and add missing deps
  packages/web-client/src/components/todo_board.tsx
Due: eslint --fix, prettier --write

feat: add smart period navigation for all time ranges
  packages/web-client/src/components/add_todo.tsx
  spec/todos/work/2025-09-25-15-51-03-improved-filtering/task.md
Due: eslint --fix, prettier --write

fix: filter views by version and include docs for efficiency
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/database_setup.ts
Due: eslint --fix, prettier --write

debug: add logging and fix activity type for debugging
  packages/core-shared/src/types/activity.ts
  packages/web-client/src/components/todo_board.tsx
Due: eslint --fix, prettier --write

refactor: optimize with debouncing, parallel queries, and logging
  packages/web-client/src/components/todo_board.tsx
Due: eslint --fix, prettier --write

fix: restore time range filtering and fix rebase issues
  packages/web-client/src/components/add_todo.test.tsx
  packages/web-client/src/components/add_todo.tsx
  packages/web-client/src/components/eddo_context_filter.tsx
  packages/web-client/src/components/status_filter.tsx
  packages/web-client/src/components/time_range_filter.tsx
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/database_setup.ts
  packages/web-client/src/test-utils.tsx
Due: eslint --fix, prettier --write

feat: add current-day time range filter option
  packages/web-client/src/components/add_todo.tsx
  packages/web-client/src/components/time_range_filter.tsx
  packages/web-client/src/components/todo_board.tsx
  spec/todo.md
  spec/todos/done/2025-09-25-15-51-03-improved-filtering.md
Due: eslint --fix, prettier --write

chore: add changeset for improved filtering feature
  .changeset/improved-filtering.md
Due: prettier --write

fix: correct package scope in changeset from @eddoapp to @eddo
  .changeset/claude-md-consistency.md
Due: prettier --write

ci: use github app token and remove npm publishing
  .github/workflows/release.yml
  package.json
  scripts/version-packages.js
Due: eslint --fix, prettier --write

ci: use github app token and remove npm publishing (#259)
  .changeset/claude-md-consistency.md
  .github/workflows/release.yml
  package.json
  scripts/version-packages.js
Due: eslint --fix, prettier --write

fix: release setup
  .changeset/config.json
Due: prettier --write

fix: correct release process and package scope (#260)
  .changeset/config.json
Due: prettier --write

fix: release setup
  .github/workflows/release.yml
Due: none

fix: add commit message to changesets release action (#261)
  .github/workflows/release.yml
Due: none

fix: switch changeset config to CLI changelog (#263)
  .changeset/config.json
Due: prettier --write

feat: multi-filter system (#258)
  .changeset/improved-filtering.md
  packages/core-shared/src/types/activity.ts
  packages/web-client/src/components/add_todo.test.tsx
  packages/web-client/src/components/add_todo.tsx
  packages/web-client/src/components/eddo_context_filter.tsx
  packages/web-client/src/components/status_filter.tsx
  packages/web-client/src/components/time_range_filter.tsx
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/database_setup.ts
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_eddo_contexts.ts
  packages/web-client/src/test-utils.tsx
  spec/todo.md
  spec/todos/done/2025-09-25-15-51-03-improved-filtering.md
Due: eslint --fix, prettier --write

feat: implement gtd:calendar vs gtd:habit repeat logic
  .changeset/tag-based-repeat-behavior.md
  packages/core-shared/src/utils/get_repeat_todo.test.ts
  packages/core-shared/src/utils/get_repeat_todo.ts
  packages/mcp_server/src/mcp-server.ts
  spec/todos/done/2025-12-18-21-58-21-gtd-calendar-vs-habit.md
Due: eslint --fix, prettier --write

fix: lint errors in scripts and add done todos cleanup
  eslint.config.js
  package.json
  scripts/__tests__/e2e/backup-interactive.e2e.test.ts
  scripts/__tests__/e2e/backup-restore-workflow.e2e.test.ts
  scripts/__tests__/e2e/cleanup-interactive.e2e.test.ts
  scripts/__tests__/e2e/restore-interactive.e2e.test.ts
  scripts/__tests__/e2e/test-utils.ts
  scripts/__tests__/replicate-preservation.test.ts
  scripts/__tests__/replicate.test.ts
  scripts/backup-interactive.test.ts
  scripts/backup-interactive.ts
  scripts/backup-utils.ts
  scripts/backup.ts
  scripts/cleanup-interactive.ts
  scripts/cleanup-leftover-test-databases.ts
  scripts/cli.ts
  scripts/populate-mock-data.ts
  scripts/replicate-interactive.ts
  scripts/replicate.ts
  scripts/restore-interactive.ts
  scripts/restore-ndjson.ts
  scripts/restore.ts
  scripts/run-integration-tests.js
  scripts/test-cli.ts
  scripts/test-mcp.js
  scripts/verify-backup.ts
  scripts/version-packages.js
Due: eslint --fix, prettier --write

fix: lint errors in scripts and add done todos cleanup (#265)
  eslint.config.js
  package.json
  scripts/__tests__/e2e/backup-interactive.e2e.test.ts
  scripts/__tests__/e2e/backup-restore-workflow.e2e.test.ts
  scripts/__tests__/e2e/cleanup-interactive.e2e.test.ts
  scripts/__tests__/e2e/restore-interactive.e2e.test.ts
  scripts/__tests__/e2e/test-utils.ts
  scripts/__tests__/replicate-preservation.test.ts
  scripts/__tests__/replicate.test.ts
  scripts/backup-interactive.test.ts
  scripts/backup-interactive.ts
  scripts/backup-utils.ts
  scripts/backup.ts
  scripts/cleanup-interactive.ts
  scripts/cleanup-leftover-test-databases.ts
  scripts/cli.ts
  scripts/populate-mock-data.ts
  scripts/replicate-interactive.ts
  scripts/replicate.ts
  scripts/restore-interactive.ts
  scripts/restore-ndjson.ts
  scripts/restore.ts
  scripts/run-integration-tests.js
  scripts/test-cli.ts
  scripts/test-mcp.js
  scripts/verify-backup.ts
  scripts/version-packages.js
Due: eslint --fix, prettier --write

feat: implement gtd:calendar vs gtd:habit repeat logic (#264)
  .changeset/tag-based-repeat-behavior.md
  packages/core-shared/src/utils/get_repeat_todo.test.ts
  packages/core-shared/src/utils/get_repeat_todo.ts
  packages/mcp_server/src/mcp-server.ts
  spec/todos/done/2025-12-18-21-58-21-gtd-calendar-vs-habit.md
Due: eslint --fix, prettier --write
