Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

chore: bump pnpm package manager
  package.json
Due: prettier --write

ci: use pnpm package manager version
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/setup-e2e.yml
  .github/workflows/test.yml
Due: none

chore: bump pnpm package manager (#615)
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/setup-e2e.yml
  .github/workflows/test.yml
  package.json
Due: prettier --write

feat: support user timezones
  packages/core-client/src/index.ts
  packages/core-server/src/index.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/utils/timezone.test.ts
  packages/core-shared/src/utils/timezone.ts
  packages/mcp_server/src/auth/user-auth.ts
  packages/mcp_server/src/mcp-server.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/date-range.test.ts
  packages/mcp_server/src/tools/date-range.ts
  packages/mcp_server/src/tools/get-briefing-data.ts
  packages/mcp_server/src/tools/get-recap-data.ts
  packages/mcp_server/src/tools/types.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/telegram_bot/src/scheduler/daily-briefing-timezone.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-client/src/components/add_todo_popover_fields.tsx
  packages/web-client/src/components/add_todo_popover_form.ts
  packages/web-client/src/components/todo_edit_fields.tsx
  packages/web-client/src/components/todo_list_element.tsx
  packages/web-client/src/components/todo_scheduled_time_badge.tsx
  packages/web-client/src/components/todo_table_title_cell.tsx
  packages/web-client/src/components/todo_view_fields.tsx
  packages/web-client/src/components/user_profile_form_state.ts
  packages/web-client/src/components/user_profile_handlers.ts
  packages/web-client/src/components/user_profile_hooks.ts
  packages/web-client/src/components/user_profile_tab_preferences.tsx
  packages/web-client/src/components/user_profile_types.ts
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_filter_preferences.ts
  packages/web-client/src/hooks/use_user_timezone.tsx
Due: eslint --fix, prettier --write

test: refresh agent VCR cassettes
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/persistent-chat-history.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/persistent-chat-history.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/status-message-pattern.json
Due: prettier --write

chore: add timezone support changeset
  .changeset/user-timezone-support.md
Due: prettier --write, tsx scripts/lint-changesets.ts

fix: use timezones in search date filters
  packages/mcp_server/src/tools/search-query-utils.ts
  packages/mcp_server/src/tools/search-todos.test.ts
  packages/mcp_server/src/tools/search-todos.ts
  packages/web-api/src/routes/search-handlers.ts
  packages/web-api/src/routes/search-query-parser.test.ts
  packages/web-api/src/routes/search-query-parser.ts
  packages/web-client/src/hooks/use_todos_by_date_range.ts
Due: eslint --fix, prettier --write

fix: honor timezones in daily reports
  packages/telegram_bot/src/bot/commands/briefing.ts
  packages/telegram_bot/src/constants/briefing.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  packages/web-client/src/components/todo_board_state.ts
  packages/web-client/src/hooks/use_activities_by_week.ts
Due: eslint --fix, prettier --write

chore: add timezone reports changeset
  .changeset/timezone-daily-reports.md
Due: prettier --write, tsx scripts/lint-changesets.ts

fix: honor timezones in daily reports (#627)
  .changeset/timezone-daily-reports.md
  packages/telegram_bot/src/bot/commands/briefing.ts
  packages/telegram_bot/src/constants/briefing.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  packages/web-client/src/components/todo_board_state.ts
  packages/web-client/src/hooks/use_activities_by_week.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

chore: require Node 24
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/setup-e2e.yml
  .github/workflows/test.yml
  .nvmrc
  README.md
  docs/01_getting-started.md
  package.json
  packages/setup/package.json
  packages/setup/src/prerequisites.test.ts
  packages/setup/src/prerequisites.ts
  pnpm-lock.yaml
  scripts/doctor.ts
Due: eslint --fix, prettier --write

chore: pin Node 24.18.0
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/setup-e2e.yml
  .github/workflows/test.yml
  .nvmrc
Due: none

chore: add Node 24 changeset
  .changeset/require-node-24.md
Due: prettier --write, tsx scripts/lint-changesets.ts

chore: require Node 24 (#628)
  .changeset/require-node-24.md
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/setup-e2e.yml
  .github/workflows/test.yml
  .nvmrc
  README.md
  docs/01_getting-started.md
  package.json
  packages/setup/package.json
  packages/setup/src/prerequisites.test.ts
  packages/setup/src/prerequisites.ts
  pnpm-lock.yaml
  scripts/doctor.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: provide telegram context for scheduled briefings and recaps
  packages/telegram_bot/src/agent/chat-history-store.ts
  packages/telegram_bot/src/agent/execution-error.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  packages/telegram_bot/src/scheduler/helpers/agent-runner.ts
  packages/telegram_bot/src/scheduler/helpers/scheduled-agent-context.ts
Due: eslint --fix, prettier --write

fix: initialize scheduled agent session context
  packages/telegram_bot/src/scheduler/helpers/scheduled-agent-context.test.ts
  packages/telegram_bot/src/scheduler/helpers/scheduled-agent-context.ts
Due: eslint --fix, prettier --write

fix: rerun scheduled reports after time changes
  packages/telegram_bot/src/scheduler/daily-briefing-timezone.test.ts
  packages/telegram_bot/src/scheduler/daily-briefing-timezone.ts
  packages/telegram_bot/src/scheduler/daily-briefing-types.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
Due: eslint --fix, prettier --write

chore: document scheduled report fix
  .changeset/restore-scheduled-reports.md
Due: prettier --write, tsx scripts/lint-changesets.ts

fix: restore automated briefings and recaps (#646)
  .changeset/restore-scheduled-reports.md
  packages/telegram_bot/src/agent/chat-history-store.ts
  packages/telegram_bot/src/agent/execution-error.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/scheduler/daily-briefing-timezone.test.ts
  packages/telegram_bot/src/scheduler/daily-briefing-timezone.ts
  packages/telegram_bot/src/scheduler/daily-briefing-types.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  packages/telegram_bot/src/scheduler/helpers/agent-runner.ts
  packages/telegram_bot/src/scheduler/helpers/scheduled-agent-context.test.ts
  packages/telegram_bot/src/scheduler/helpers/scheduled-agent-context.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add secure benchmark telemetry forwarding
  README.md
  packages/core-server/src/config/env.ts
  packages/web-api/src/benchmarks/day_paging_server.ts
  packages/web-api/src/index.ts
  packages/web-api/src/routes/telemetry.test.ts
  packages/web-api/src/routes/telemetry.ts
  packages/web-api/src/routes/telemetry_headers.ts
  packages/web-client/src/config/benchmark_query_status.ts
  packages/web-client/src/config/benchmark_telemetry.ts
  packages/web-client/src/telemetry/headers.test.ts
  packages/web-client/src/telemetry/headers.ts
  packages/web-client/src/telemetry/tracer.ts
  scripts/benchmarks/README.md
  scripts/benchmarks/background_write_matrix.ts
  scripts/benchmarks/background_write_run.ts
  scripts/benchmarks/benchmark_telemetry.test.ts
  scripts/benchmarks/benchmark_telemetry.ts
  scripts/benchmarks/browser_bootstrap.ts
  scripts/benchmarks/day_paging.ts
  scripts/benchmarks/day_paging_browser.ts
  scripts/benchmarks/day_paging_collect.ts
  scripts/benchmarks/day_paging_options.ts
  scripts/benchmarks/day_paging_report.ts
  spec/synology_telemetry.md
Due: eslint --fix, prettier --write

feat: benchmark paging during pouchdb sync catch-up
  packages/web-client/src/config/benchmark_sync_status.ts
  packages/web-client/src/hooks/use_couchdb_sync.ts
  scripts/benchmarks/README.md
  scripts/benchmarks/background_write_plan.test.ts
  scripts/benchmarks/background_write_plan.ts
  scripts/benchmarks/background_write_run.ts
  scripts/benchmarks/benchmark_telemetry.ts
  scripts/benchmarks/day_paging_collect.ts
Due: eslint --fix, prettier --write

perf: correlate traces and defer sync invalidation
  packages/web-client/src/config/benchmark_telemetry.test.ts
  packages/web-client/src/config/benchmark_telemetry.ts
  packages/web-client/src/hooks/replication_activity.ts
  packages/web-client/src/hooks/use_couchdb_sync.ts
  packages/web-client/src/hooks/use_database_changes.tsx
  packages/web-client/src/hooks/use_database_changes_invalidation.test.ts
Due: eslint --fix, prettier --write

perf: avoid metadata reindexing during sync
  packages/web-client/src/hooks/use_eddo_contexts.ts
  packages/web-client/src/hooks/use_tags.test.tsx
  packages/web-client/src/hooks/use_tags.ts
Due: eslint --fix, prettier --write

fix: set telemetry data stream defaults
  .env.example
  packages/web-client/src/telemetry/tracer.ts
Due: eslint --fix, prettier --write

chore: document sync paging improvements in changeset
  .changeset/improve-sync-paging.md
Due: prettier --write, tsx scripts/lint-changesets.ts

Path conditions:
  eslint --fix: (any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})
  prettier --write: ((((any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})) or (any of: *.{ts,js})) or (any of: packages/**/*.{json,md})) or (any of: *.{json,md})
  tsx scripts/lint-changesets.ts: any of: .changeset/*.md
