Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{ts,js}": ["prettier --write"],
  "packages/**/*.{json,md}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

ci: split tests into parallel jobs for faster feedback
  .github/workflows/test.yml
  spec/todo.md
  spec/todos/done/2025-12-22-23-05-26-testcontainers.md
Due: prettier --write

fix: pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: remove duplicate quality checks from test workflow
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: none

refactor: consolidate quality and test workflows into one
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: none

fix: add couchdb health check before running tests
  packages/mcp_server/src/integration-tests/setup/global.ts
Due: eslint --fix, prettier --write

refactor: remove legacy couchdb_test_url references
  packages/mcp_server/src/integration-tests/setup/global-test-user.ts
  packages/mcp_server/vitest.integration.config.ts
Due: eslint --fix, prettier --write

refactor: completely remove couchdb_test_url env var
  packages/core-server/src/config/env.ts
  scripts/__tests__/e2e/cleanup-interactive.e2e.test.ts
Due: eslint --fix, prettier --write

refactor: remove couchdb_test_db_name env var
  packages/core-server/src/config/env.ts
  packages/mcp_server/src/bin/setup-database.ts
  packages/mcp_server/src/integration-tests/setup/global-test-user.ts
  packages/mcp_server/src/integration-tests/setup/global.ts
  packages/mcp_server/src/integration-tests/setup/test-mcp-server.ts
  packages/mcp_server/vitest.integration.config.ts
  scripts/run-integration-tests.js
Due: eslint --fix, prettier --write

fix: start testcontainer in runner script before mcp server
  .gitignore
  packages/mcp_server/src/integration-tests/setup/global-test-user.ts
  packages/mcp_server/src/integration-tests/setup/global.ts
  packages/mcp_server/vitest.integration.config.ts
  scripts/run-integration-tests.js
Due: eslint --fix, prettier --write

fix: integration test setup
  package.json
  scripts/run-integration-tests.ts
Due: eslint --fix, prettier --write

fix: integration test setup
  packages/mcp_server/src/mcp-server.ts
  scripts/run-integration-tests.ts
  test/global-testcontainer-setup.ts
Due: eslint --fix, prettier --write

fix: integration test setup
  packages/mcp_server/src/mcp-server.ts
  scripts/run-integration-tests.ts
Due: eslint --fix, prettier --write

fix: integration test setup
  packages/core-server/src/config/env.ts
  packages/core-server/src/utils/test-cleanup.ts
  packages/mcp_server/src/integration-tests/setup/database-setup.ts
  packages/mcp_server/src/integration-tests/setup/test-mcp-server.ts
  packages/mcp_server/src/integration-tests/setup/test-server.ts
  packages/mcp_server/src/mcp-server.ts
Due: eslint --fix, prettier --write

fix: integration test setup mcp port
  packages/core-server/src/config/env.ts
  packages/core-server/src/config/index.ts
  packages/core-server/src/index.ts
  packages/mcp_server/src/integration-tests/check-ports.ts
  packages/mcp_server/src/integration-tests/setup/global.ts
  packages/mcp_server/src/integration-tests/setup/test-mcp-server.ts
  packages/mcp_server/src/integration-tests/setup/test-server.ts
  packages/mcp_server/src/mcp-server.ts
  packages/mcp_server/vitest.integration.config.ts
  scripts/run-integration-tests.ts
Due: eslint --fix, prettier --write

fix: e2e usage get-test-couchdb-config
  scripts/__tests__/e2e/cleanup-interactive.e2e.test.ts
  scripts/__tests__/e2e/test-utils.ts
  scripts/cleanup-leftover-test-databases.ts
  test/global-testcontainer-setup.ts
Due: eslint --fix, prettier --write

chore: allow UPPER CASE in commit messages
  commitlint.config.js
Due: prettier --write

fix: bundle size report
  .github/workflows/test.yml
Due: none

test: add testcontainers for automated couchdb setup (#288)
  .changeset/testcontainers-integration.md
  .github/workflows/quality.yml
  .github/workflows/test.yml
  .gitignore
  DEVELOPMENT.md
  commitlint.config.js
  package.json
  packages/core-server/package.json
  packages/core-server/src/config/env.ts
  packages/core-server/src/config/index.ts
  packages/core-server/src/index.ts
  packages/core-server/src/utils/test-cleanup.ts
  packages/mcp_server/package.json
  packages/mcp_server/src/bin/setup-database.ts
  packages/mcp_server/src/integration-tests/check-ports.ts
  packages/mcp_server/src/integration-tests/setup/database-setup.ts
  packages/mcp_server/src/integration-tests/setup/global-test-user.ts
  packages/mcp_server/src/integration-tests/setup/global.ts
  packages/mcp_server/src/integration-tests/setup/test-mcp-server.ts
  packages/mcp_server/src/integration-tests/setup/test-server.ts
  packages/mcp_server/src/mcp-server.ts
  packages/mcp_server/vitest.integration.config.ts
  packages/printer_service/package.json
  packages/telegram_bot/package.json
  pnpm-lock.yaml
  scripts/__tests__/e2e/cleanup-interactive.e2e.test.ts
  scripts/__tests__/e2e/test-utils.ts
  scripts/cleanup-leftover-test-databases.ts
  scripts/run-integration-tests.js
  scripts/run-integration-tests.ts
  spec/todo.md
  spec/todos/done/2025-12-22-23-05-26-testcontainers.md
  test/e2e-global-setup.ts
  test/e2e-setup.js
  test/global-testcontainer-setup.ts
  test/integration-global-setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: use githubLastSync for follow-up sync queries
  packages/web-api/src/github/sync-scheduler.ts
  spec/todo.md
  spec/todos/done/2025-12-23-09-06-42-improve-github-sync.md
Due: eslint --fix, prettier --write

fix: release pr body
  .github/workflows/release.yml
  CLAUDE.md
  scripts/create-release-pr.js
  scripts/create-release-pr.test.js
  spec/todos/done/2025-12-23-10-07-03-fix-release-notes-pr.md
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: filter release PR body to show only eddo-app changelog (#291)
  .github/workflows/release.yml
  CLAUDE.md
  scripts/create-release-pr.js
  scripts/create-release-pr.test.js
  spec/todos/done/2025-12-23-10-07-03-fix-release-notes-pr.md
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: debounce db invalidation
  packages/web-client/src/hooks/use_database_changes.test.tsx
  packages/web-client/src/hooks/use_database_changes.tsx
  spec/todos/work/2025-12-23-10-35-03-investigate-performance-issues/task.md
Due: eslint --fix, prettier --write

feat: couchdb views without full docs
  packages/core-shared/src/api/database-structures.ts
  packages/web-client/src/api/safe-db-operations.ts
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_time_tracking_active.test.ts
  packages/web-client/src/hooks/use_time_tracking_active.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
  spec/todos/work/2025-12-23-10-35-03-investigate-performance-issues/task.md
Due: eslint --fix, prettier --write

feat: use useMutation, optimize cache invalidation
  packages/web-client/src/api/safe-db-operations-with-health.ts
  packages/web-client/src/api/safe-db-operations.ts
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/components/todo_list_element.test.tsx
  packages/web-client/src/components/todo_list_element.tsx
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_database_changes.tsx
  packages/web-client/src/hooks/use_time_tracking_active.test.ts
  packages/web-client/src/hooks/use_time_tracking_active.ts
  packages/web-client/src/hooks/use_todo_mutations.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
  spec/todos/work/2025-12-23-10-35-03-investigate-performance-issues/task.md
Due: eslint --fix, prettier --write

chore: todo
  spec/todo.md
  spec/todos/done/2025-12-23-10-35-03-investigate-performance-issues.md
Due: prettier --write

perf: optimize database query performance and reduce UI lag (#293)
  packages/core-shared/src/api/database-structures.ts
  packages/web-client/src/api/safe-db-operations-with-health.ts
  packages/web-client/src/api/safe-db-operations.ts
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/components/todo_list_element.test.tsx
  packages/web-client/src/components/todo_list_element.tsx
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_database_changes.test.tsx
  packages/web-client/src/hooks/use_database_changes.tsx
  packages/web-client/src/hooks/use_time_tracking_active.test.ts
  packages/web-client/src/hooks/use_time_tracking_active.ts
  packages/web-client/src/hooks/use_todo_mutations.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
  spec/todo.md
  spec/todos/done/2025-12-23-10-35-03-investigate-performance-issues.md
Due: eslint --fix, prettier --write

feat: Migrate all UI actions to TanStack Query mutations
  .changeset/tanstack-query-mutations.md
  packages/web-client/src/components/add_todo.tsx
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/components/todo_edit_modal.tsx
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_filter_preferences.test.ts
  packages/web-client/src/hooks/use_profile.ts
  packages/web-client/src/hooks/use_time_tracking_active.test.ts
  packages/web-client/src/hooks/use_time_tracking_active.ts
  packages/web-client/src/hooks/use_todo_mutations.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
  packages/web-client/src/hooks/use_view_preferences.test.ts
  spec/todo.md
  spec/todos/done/2025-12-23-11-45-59-tanstack-query-mutations.md
Due: eslint --fix, prettier --write

feat: migrate all UI actions to TanStack Query mutations (#295)
  .changeset/tanstack-query-mutations.md
  packages/web-client/src/components/add_todo.tsx
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/components/todo_edit_modal.tsx
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_filter_preferences.test.ts
  packages/web-client/src/hooks/use_profile.ts
  packages/web-client/src/hooks/use_time_tracking_active.test.ts
  packages/web-client/src/hooks/use_time_tracking_active.ts
  packages/web-client/src/hooks/use_todo_mutations.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
  packages/web-client/src/hooks/use_view_preferences.test.ts
  spec/todo.md
  spec/todos/done/2025-12-23-11-45-59-tanstack-query-mutations.md
Due: eslint --fix, prettier --write

fix: configure git identity for release workflow tagging
  .github/workflows/release.yml
Due: none

fix: update CLAUDE.md git instructions
  CLAUDE.md
Due: prettier --write

fix: completed pr-review sync
  .changeset/fix-pr-review-completion.md
  packages/web-api/src/github/client.ts
  spec/todos/done/2025-12-23-17-07-47-track-pr-reviewer-closures.md
Due: eslint --fix, prettier --write

fix: PR reviews not marked complete when merged (#297)
  .changeset/fix-pr-review-completion.md
  packages/web-api/src/github/client.ts
  spec/todos/done/2025-12-23-17-07-47-track-pr-reviewer-closures.md
Due: eslint --fix, prettier --write

fix: MCP server missing database indexes (externalId-index, tags-index)
  .changeset/mcp-server-indexes-alignment.md
  packages/mcp_server/src/integration-tests/setup/database-setup.ts
  spec/todo.md
  spec/todos/done/2025-12-23-17-58-50-mcp-server-queries-alignment.md
Due: eslint --fix, prettier --write

fix: MCP server missing database indexes (externalId-index, tags-index) (#300)
  .changeset/mcp-server-indexes-alignment.md
  packages/mcp_server/src/integration-tests/setup/database-setup.ts
  spec/todo.md
  spec/todos/done/2025-12-23-17-58-50-mcp-server-queries-alignment.md
Due: eslint --fix, prettier --write

chore: code cleanup
  .changeset/knip-dead-code-cleanup.md
  packages/mcp_server/src/auth/user-auth.ts
  packages/printer_service/src/printer/client.ts
  packages/printer_service/src/printer/formatter.ts
  packages/printer_service/src/utils/config.ts
  packages/telegram_bot/src/agent/types/workflow-types.ts
  packages/telegram_bot/src/bot/bot.ts
  packages/telegram_bot/src/bot/handlers/message.ts
  packages/telegram_bot/src/utils/user-lookup.ts
  spec/todo.md
  spec/todos/done/2025-12-23-18-14-33-knip-dead-code-cleanup.md
Due: eslint --fix, prettier --write

refactor: simplify WorkflowResult to only include used fields
  packages/telegram_bot/src/agent/index.ts
  packages/telegram_bot/src/agent/types/workflow-types.ts
  packages/telegram_bot/src/bot/handlers/message.ts
Due: eslint --fix, prettier --write

chore: code cleanup and MCP server index alignment (#302)
  .changeset/knip-dead-code-cleanup.md
  packages/mcp_server/src/auth/user-auth.ts
  packages/printer_service/src/printer/client.ts
  packages/printer_service/src/printer/formatter.ts
  packages/printer_service/src/utils/config.ts
  packages/telegram_bot/src/agent/index.ts
  packages/telegram_bot/src/agent/types/workflow-types.ts
  packages/telegram_bot/src/bot/bot.ts
  packages/telegram_bot/src/bot/handlers/message.ts
  packages/telegram_bot/src/utils/user-lookup.ts
  spec/todo.md
  spec/todos/done/2025-12-23-18-14-33-knip-dead-code-cleanup.md
Due: eslint --fix, prettier --write

chore: todo
  spec/todo.md
  spec/todos/work/2025-12-24-23-11-07-pouchdb-user-registry-sync/task.md
Due: prettier --write

feat: user registry real-time sync
  packages/web-api/src/routes/users.ts
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_preferences_stream.test.tsx
  packages/web-client/src/hooks/use_preferences_stream.ts
  spec/todos/work/2025-12-24-23-11-07-pouchdb-user-registry-sync/task.md
Due: eslint --fix, prettier --write

fix: user registry real-time sync
  .changeset/real-time-preferences-sync.md
  packages/web-api/src/index.ts
  packages/web-api/src/routes/users.ts
  spec/todos/done/2025-12-24-23-11-07-pouchdb-user-registry-sync.md
Due: eslint --fix, prettier --write
