Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{ts,js}": ["prettier --write"],
  "packages/**/*.{json,md}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"],
  ".changeset/*.md": ["tsx scripts/lint-changesets.ts"]
}

feat: layout tweaks
  packages/web-client/src/components/todo_graph.css
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_curved_edge.tsx
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_metadata_node.tsx
  packages/web-client/src/components/todo_graph_node.tsx
  packages/web-client/src/hooks/use_force_layout.ts
Due: eslint --fix, prettier --write

feat: aspect ratio
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_metadata_node.tsx
  packages/web-client/src/hooks/use_force_layout.ts
Due: eslint --fix, prettier --write

feat: improve audit data model
  packages/core-server/src/api/audit-database.ts
  packages/web-api/src/routes/audit-log.ts
  packages/web-client/src/components/todo_graph.css
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_metadata_node.tsx
  packages/web-client/src/hooks/use_audit_for_todos.ts
  packages/web-client/src/hooks/use_force_layout.ts
Due: eslint --fix, prettier --write

feat: link todos to audit entries and add highlighting
  packages/core-server/src/api/audit-database.ts
  packages/core-server/src/api/audit-service.ts
  packages/core-shared/src/versions/todo_alpha3.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/mcp_server/src/tools/audit-helper.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/note-tools.ts
  packages/mcp_server/src/tools/time-tracking.ts
  packages/mcp_server/src/tools/toggle-completion.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/web-api/src/routes/audit-log.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-client/src/components/audit_sidebar.test.tsx
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/components/copy_id_button.tsx
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/todo_graph.css
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_node.tsx
  packages/web-client/src/components/todo_table_cell.tsx
  packages/web-client/src/components/todo_view_fields.tsx
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_audit_for_todos.ts
  packages/web-client/src/hooks/use_highlight_context.tsx
  packages/web-client/src/hooks/use_profile_types.ts
Due: eslint --fix, prettier --write

feat: extend metadata type to support string array values
  CLAUDE.md
  packages/core-shared/src/versions/todo_alpha3.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_metadata_field.test.tsx
  packages/web-client/src/components/todo_metadata_field.tsx
  packages/web-client/src/components/todo_metadata_view.tsx
Due: eslint --fix, prettier --write

fix: tune BatchSpanProcessor to avoid Beacon API 64KB limit
  packages/web-client/src/telemetry/tracer.ts
Due: eslint --fix, prettier --write

feat: add file nodes to graph view with session edges
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_file_helpers.ts
  packages/web-client/src/components/todo_graph_file_node.tsx
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/hooks/use_highlight_context.tsx
Due: eslint --fix, prettier --write

style: desaturate file node colors for better hierarchy
  packages/web-client/src/components/todo_graph_file_helpers.ts
  packages/web-client/src/components/todo_graph_file_node.tsx
Due: eslint --fix, prettier --write

feat: show node labels on hover for todo and file nodes
  packages/web-client/src/components/todo_graph_file_node.tsx
  packages/web-client/src/components/todo_graph_metadata_node.tsx
  packages/web-client/src/components/todo_graph_node.tsx
Due: eslint --fix, prettier --write

style: unify graph file node icons to cold blue
  packages/web-client/src/components/todo_graph_file_node.tsx
Due: eslint --fix, prettier --write

refactor(web-client): memoize force layout by structure
  packages/web-client/src/hooks/use_force_layout.ts
Due: eslint --fix, prettier --write

feat(web-client): add user node to graph view
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_file_node.tsx
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_metadata_node.tsx
  packages/web-client/src/components/todo_graph_node.tsx
  packages/web-client/src/components/todo_graph_user_helpers.ts
  packages/web-client/src/components/todo_graph_user_node.tsx
Due: eslint --fix, prettier --write

feat: add unit tests for todo graph helper functions
  packages/web-client/src/components/todo_graph_helpers.test.ts
Due: eslint --fix, prettier --write

chore: add changeset for graph view feature
  .changeset/graph-view-infrastructure.md
Due: prettier --write, tsx scripts/lint-changesets.ts

fix: add type assertions in todo_graph_helpers.test.ts
  packages/web-client/src/components/todo_graph_helpers.test.ts
Due: eslint --fix, prettier --write

fix: reduce useGraphData function lines to pass eslint
  packages/web-client/src/components/todo_graph.tsx
Due: eslint --fix, prettier --write

fix: compress useGraphData to stay under 50 lines
  packages/web-client/src/components/todo_graph.tsx
Due: eslint --fix, prettier --write

refactor: extract GraphRenderer to separate file
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_renderer.tsx
Due: eslint --fix, prettier --write

test: update integration test cassettes with fresh recordings
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/status-message-pattern.json
Due: prettier --write

fix: await pushAuditIdToTodo to prevent race conditions
  packages/mcp_server/src/tools/audit-helper.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/note-tools.ts
  packages/mcp_server/src/tools/time-tracking.ts
  packages/mcp_server/src/tools/toggle-completion.ts
  packages/mcp_server/src/tools/update-todo.ts
Due: eslint --fix, prettier --write

fix: vite config consider env vars
  packages/web-client/vite.config.ts
Due: eslint --fix, prettier --write

fix: due date handling in mcp server
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/update-todo.ts
Due: eslint --fix, prettier --write

fix: .gitignore now has .env.local
  .gitignore
Due: none

fix: use date-only strings to avoid timezone issues in filters
  packages/web-client/src/components/todo_board_helpers.ts
  packages/web-client/src/components/todo_board_state.ts
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
Due: eslint --fix, prettier --write

fix: handle undefined due date in needsDueDateNormalization
  packages/web-client/src/components/todo_board_state.ts
Due: eslint --fix, prettier --write

chore: add changeset for timezone fix
  .changeset/fix-timezone-day-filter.md
Due: prettier --write, tsx scripts/lint-changesets.ts

fix: show metadata nodes for all sessions
  packages/web-client/src/components/todo_graph_helpers.test.ts
  packages/web-client/src/components/todo_graph_helpers.ts
Due: eslint --fix, prettier --write

test: update todo-factory to use full ISO timestamps
  packages/mcp_server/src/integration-tests/__fixtures__/todo-factory.ts
Due: eslint --fix, prettier --write

fix: show metadata nodes for all sessions (#435)
  packages/web-client/src/components/todo_graph_helpers.test.ts
  packages/web-client/src/components/todo_graph_helpers.ts
Due: eslint --fix, prettier --write

fix: use date-only strings to avoid timezone issues in day filter (#434)
  .changeset/fix-timezone-day-filter.md
  .gitignore
  packages/mcp_server/src/integration-tests/__fixtures__/todo-factory.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/web-client/src/components/todo_board_helpers.ts
  packages/web-client/src/components/todo_board_state.ts
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
  packages/web-client/vite.config.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-client): add keyboard date navigation with arrow keys
  .changeset/date-navigation-keys.md
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/hooks/use_date_navigation_keys.test.ts
  packages/web-client/src/hooks/use_date_navigation_keys.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-client): add keyboard date navigation with arrow keys (#436)
  .changeset/date-navigation-keys.md
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/hooks/use_date_navigation_keys.test.ts
  packages/web-client/src/hooks/use_date_navigation_keys.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: recreate QueryClient on username change for cache isolation
  .changeset/fix-user-cache-persistence.md
  packages/web-client/src/eddo.test.tsx
  packages/web-client/src/eddo.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: clear React Query cache on user switch (#438)
  .changeset/fix-user-cache-persistence.md
  packages/web-client/src/eddo.test.tsx
  packages/web-client/src/eddo.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-client): add bucketed filtering with 20 items per source
  .changeset/activity-sidebar-bucketed-filtering.md
  .changeset/fix-user-cache-persistence.md
  packages/core-server/src/api/audit-database.ts
  packages/core-server/src/api/audit-service.ts
  packages/core-server/src/index.ts
  packages/web-api/src/routes/audit-log.ts
  packages/web-client/src/components/audit_sidebar.test.tsx
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/components/audit_sidebar_helpers.ts
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/eddo.test.tsx
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_audit_for_todos.ts
  packages/web-client/src/hooks/use_audit_log_data.tsx
  packages/web-client/src/hooks/use_audit_log_stream.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-client): activity sidebar shows 20 items per source category (#439)
  .changeset/activity-sidebar-bucketed-filtering.md
  packages/core-server/src/api/audit-database.ts
  packages/core-server/src/api/audit-service.ts
  packages/core-server/src/index.ts
  packages/web-api/src/routes/audit-log.ts
  packages/web-client/src/components/audit_sidebar.test.tsx
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/components/audit_sidebar_helpers.ts
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/hooks/use_audit_for_todos.ts
  packages/web-client/src/hooks/use_audit_log_data.tsx
  packages/web-client/src/hooks/use_audit_log_stream.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix(web-client): prevent render loops causing Chrome crashes
  .changeset/fix-render-loops-chrome-crash.md
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/hooks/use_audit_log_stream.ts
  packages/web-client/src/hooks/use_audited_todo_mutations.ts
  packages/web-client/src/hooks/use_bulk_todo_mutation.ts
  packages/web-client/src/hooks/use_database_changes.tsx
  packages/web-client/src/hooks/use_force_layout.ts
  packages/web-client/src/hooks/use_recent_mutations.ts
  packages/web-client/src/hooks/use_todo_mutations.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix(web-client): prevent render loops causing Chrome crashes (#452)
  .changeset/fix-render-loops-chrome-crash.md
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/hooks/use_audit_log_stream.ts
  packages/web-client/src/hooks/use_audited_todo_mutations.ts
  packages/web-client/src/hooks/use_bulk_todo_mutation.ts
  packages/web-client/src/hooks/use_database_changes.tsx
  packages/web-client/src/hooks/use_force_layout.ts
  packages/web-client/src/hooks/use_recent_mutations.ts
  packages/web-client/src/hooks/use_todo_mutations.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix(web-client): improve responsive layout of header menu
  packages/web-client/src/components/add_todo_popover.tsx
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/components/todo_filters_navigation.tsx
  packages/web-client/src/components/todo_filters_row.tsx
Due: eslint --fix, prettier --write
