Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{ts,js}": ["prettier --write"],
  "packages/**/*.{json,md}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"],
  ".changeset/*.md": ["tsx scripts/lint-changesets.ts"]
}

fix: use html-to-text for secure HTML sanitization
  packages/web-api/package.json
  packages/web-api/src/rss/client.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: type getUserDb return as DocumentScope<TodoAlpha3>
  packages/web-api/src/index.ts
Due: eslint --fix, prettier --write

feat: Add RSS feed sync integration (#384)
  .changeset/rss-feed-sync.md
  CLAUDE.md
  packages/core-server/src/index.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/telegram_bot/package.json
  packages/telegram_bot/src/bot/commands/rss-helpers.ts
  packages/telegram_bot/src/bot/commands/rss.ts
  packages/telegram_bot/src/index.ts
  packages/web-api/package.json
  packages/web-api/src/index.ts
  packages/web-api/src/routes/rss.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-api/src/routes/users.ts
  packages/web-api/src/rss/autodiscovery.test.ts
  packages/web-api/src/rss/autodiscovery.ts
  packages/web-api/src/rss/client.test.ts
  packages/web-api/src/rss/client.ts
  packages/web-api/src/rss/index.ts
  packages/web-api/src/rss/sync-helpers.ts
  packages/web-api/src/rss/sync-scheduler.ts
  packages/web-api/src/rss/types.ts
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/components/user_profile_github_section.tsx
  packages/web-client/src/components/user_profile_handlers.ts
  packages/web-client/src/components/user_profile_hooks.ts
  packages/web-client/src/components/user_profile_rss_hooks.ts
  packages/web-client/src/components/user_profile_rss_section.tsx
  packages/web-client/src/components/user_profile_tab_integrations.tsx
  packages/web-client/src/components/user_profile_types.ts
  packages/web-client/src/hooks/use_filter_preferences.test.ts
  packages/web-client/src/hooks/use_profile.ts
  packages/web-client/src/hooks/use_profile_api.ts
  packages/web-client/src/hooks/use_profile_types.ts
  packages/web-client/src/hooks/use_theme.test.ts
  packages/web-client/src/hooks/use_view_preferences.test.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: phase 1 email sync infra
  packages/web-api/package.json
  packages/web-api/src/email/client.ts
  packages/web-api/src/email/email-parser.ts
  packages/web-api/src/email/index.ts
  packages/web-api/src/email/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: phase 2 gmail oauth
  packages/core-server/src/config/env.ts
  packages/telegram_bot/tsconfig.json
  packages/web-api/package.json
  packages/web-api/src/email/index.ts
  packages/web-api/src/email/oauth-state-manager.ts
  packages/web-api/src/email/oauth.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: phase 4 sync scheduler
  packages/web-api/src/email/index.ts
  packages/web-api/src/email/sync-helpers.ts
  packages/web-api/src/email/sync-scheduler.ts
Due: eslint --fix, prettier --write

fix: replace regex with string search to avoid backtracking
  packages/web-api/src/email/email-parser.ts
Due: eslint --fix, prettier --write

feat: phase 6 web ui
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/components/user_profile_email_hooks.ts
  packages/web-client/src/components/user_profile_email_section.tsx
  packages/web-client/src/components/user_profile_form_state.ts
  packages/web-client/src/components/user_profile_github_hooks.ts
  packages/web-client/src/components/user_profile_hooks.ts
  packages/web-client/src/components/user_profile_tab_integrations.tsx
  packages/web-client/src/components/user_profile_types.ts
  packages/web-client/src/hooks/use_profile.ts
  packages/web-client/src/hooks/use_profile_api.ts
  packages/web-client/src/hooks/use_profile_types.ts
Due: eslint --fix, prettier --write

feat: phase 3 gmail/imap provider
  packages/core-shared/src/index.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/web-api/src/email/client.ts
  packages/web-api/src/email/index.ts
  packages/web-api/src/email/types.ts
Due: eslint --fix, prettier --write

feat: phase 5 telegram bot commands
  packages/telegram_bot/src/bot/commands/email-helpers.ts
  packages/telegram_bot/src/bot/commands/email.ts
  packages/telegram_bot/src/index.ts
Due: eslint --fix, prettier --write

feat: add email to todo sync with Gmail OAuth
  .changeset/email-to-todo-sync.md
  CLAUDE.md
  docs/gmail-oauth-setup.md
  package.json
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/telegram_bot/src/bot/commands/email-helpers.ts
  packages/telegram_bot/src/bot/commands/email.ts
  packages/telegram_bot/src/utils/user-lookup.ts
  packages/web-api/src/email/client.test.ts
  packages/web-api/src/email/client.ts
  packages/web-api/src/email/sync-scheduler.ts
  packages/web-api/src/email/types.ts
  packages/web-api/src/github/rate-limit.test.ts
  packages/web-api/src/index.ts
  packages/web-api/src/routes/email.ts
  packages/web-api/src/routes/users.ts
  packages/web-client/src/components/user_profile_email_hooks.ts
  packages/web-client/src/components/user_profile_email_section.tsx
  packages/web-client/src/components/user_profile_form_state.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add email to todo sync with Gmail OAuth (#396)
  .changeset/email-to-todo-sync.md
  CLAUDE.md
  docs/gmail-oauth-setup.md
  package.json
  packages/core-server/src/config/env.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/telegram_bot/src/bot/commands/email-helpers.ts
  packages/telegram_bot/src/bot/commands/email.ts
  packages/telegram_bot/src/index.ts
  packages/telegram_bot/src/utils/user-lookup.ts
  packages/telegram_bot/tsconfig.json
  packages/web-api/package.json
  packages/web-api/src/email/client.test.ts
  packages/web-api/src/email/client.ts
  packages/web-api/src/email/email-parser.ts
  packages/web-api/src/email/index.ts
  packages/web-api/src/email/oauth-state-manager.ts
  packages/web-api/src/email/oauth.ts
  packages/web-api/src/email/sync-helpers.ts
  packages/web-api/src/email/sync-scheduler.ts
  packages/web-api/src/email/types.ts
  packages/web-api/src/github/rate-limit.test.ts
  packages/web-api/src/index.ts
  packages/web-api/src/routes/email.ts
  packages/web-api/src/routes/users.ts
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/components/user_profile_email_hooks.ts
  packages/web-client/src/components/user_profile_email_section.tsx
  packages/web-client/src/components/user_profile_form_state.ts
  packages/web-client/src/components/user_profile_github_hooks.ts
  packages/web-client/src/components/user_profile_hooks.ts
  packages/web-client/src/components/user_profile_tab_integrations.tsx
  packages/web-client/src/components/user_profile_types.ts
  packages/web-client/src/hooks/use_profile.ts
  packages/web-client/src/hooks/use_profile_api.ts
  packages/web-client/src/hooks/use_profile_types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

ci: rm dependabot-changeset.yml
  .github/workflows/dependabot-changeset.yml
Due: none

fix: patch CVE-2026-0621 ReDoS in @modelcontextprotocol/sdk
  .changeset/fix-dependabot-ci-and-cve.md
  package.json
  patches/@modelcontextprotocol__sdk@1.25.1.patch
  pnpm-lock.yaml
Due: prettier --write, tsx scripts/lint-changesets.ts

fix: respect ignoreCves in security workflow audit
  .github/workflows/security.yml
Due: none

fix: capture audit exit code without immediate fail
  .github/workflows/security.yml
Due: none

fix: use --ignore flag for patched CVEs in audit
  .github/workflows/security.yml
Due: none

ci: pin pnpm to 10.27.0 for patchedDependencies compat
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

feat: bulk actions for due dates
  .changeset/bulk-due-date-actions.md
  packages/web-client/src/components/bulk_due_date_popover.test.ts
  packages/web-client/src/components/bulk_due_date_popover.tsx
  packages/web-client/src/components/due_date_popover.tsx
  packages/web-client/src/components/due_date_popover_shared.tsx
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/hooks/use_bulk_todo_mutation.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: due date quick actions popover
  packages/web-client/src/components/due_date_popover.tsx
  packages/web-client/src/components/todo_table_cell.tsx
Due: eslint --fix, prettier --write

feat: add bulk due date actions via column header #330 (#398)
  .changeset/bulk-due-date-actions.md
  packages/web-client/src/components/bulk_due_date_popover.test.ts
  packages/web-client/src/components/bulk_due_date_popover.tsx
  packages/web-client/src/components/due_date_popover.tsx
  packages/web-client/src/components/due_date_popover_shared.tsx
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/components/todo_table_cell.tsx
  packages/web-client/src/hooks/use_bulk_todo_mutation.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: filter presets
  .changeset/filter-presets.md
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-client/src/components/preset_filter_button.tsx
  packages/web-client/src/components/preset_filter_content.tsx
  packages/web-client/src/components/preset_filter_dropdown.tsx
  packages/web-client/src/components/preset_filter_form.tsx
  packages/web-client/src/components/preset_filter_item.tsx
  packages/web-client/src/components/preset_filter_types.ts
  packages/web-client/src/components/todo_filters.test.tsx
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/components/todo_filters_helpers.ts
  packages/web-client/src/components/todo_filters_navigation.tsx
  packages/web-client/src/components/todo_filters_row.tsx
  packages/web-client/src/components/todo_filters_types.ts
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_filter_preferences.ts
  packages/web-client/src/hooks/use_filter_presets.test.ts
  packages/web-client/src/hooks/use_filter_presets.ts
  packages/web-client/src/hooks/use_filter_presets_helpers.ts
  packages/web-client/src/hooks/use_preset_handlers.ts
  packages/web-client/src/hooks/use_profile_types.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add filter presets for saving and applying filter configurations (#399)
  .changeset/filter-presets.md
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-client/src/components/preset_filter_button.tsx
  packages/web-client/src/components/preset_filter_content.tsx
  packages/web-client/src/components/preset_filter_dropdown.tsx
  packages/web-client/src/components/preset_filter_form.tsx
  packages/web-client/src/components/preset_filter_item.tsx
  packages/web-client/src/components/preset_filter_types.ts
  packages/web-client/src/components/todo_filters.test.tsx
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/components/todo_filters_helpers.ts
  packages/web-client/src/components/todo_filters_navigation.tsx
  packages/web-client/src/components/todo_filters_row.tsx
  packages/web-client/src/components/todo_filters_types.ts
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_filter_preferences.ts
  packages/web-client/src/hooks/use_filter_presets.test.ts
  packages/web-client/src/hooks/use_filter_presets.ts
  packages/web-client/src/hooks/use_filter_presets_helpers.ts
  packages/web-client/src/hooks/use_preset_handlers.ts
  packages/web-client/src/hooks/use_profile_types.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-client): inline tag editing in table view
  .changeset/inline-tag-editing.md
  packages/web-client/src/components/tags_popover.test.tsx
  packages/web-client/src/components/tags_popover.tsx
  packages/web-client/src/components/tags_popover_input.tsx
  packages/web-client/src/components/todo_table_cell.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-client): inline tag editing in table view (#402)
  .changeset/inline-tag-editing.md
  packages/web-client/src/components/tags_popover.test.tsx
  packages/web-client/src/components/tags_popover.tsx
  packages/web-client/src/components/tags_popover_input.tsx
  packages/web-client/src/components/todo_table_cell.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: parent-child relationship
  packages/core-shared/src/api/database-structures.ts
  packages/core-shared/src/versions/todo_alpha3.ts
  packages/mcp_server/src/integration-tests/helpers/mcp-assertions.ts
  packages/mcp_server/src/integration-tests/suites/parent-child.test.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/list-todos.ts
  packages/mcp_server/src/tools/update-todo.ts
Due: eslint --fix, prettier --write

feat: wip parent-child ui
  packages/web-client/src/components/subtask_indicator.tsx
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_list_element.tsx
  packages/web-client/src/components/todo_parent_field.tsx
  packages/web-client/src/components/todo_view_fields.tsx
  packages/web-client/src/hooks/use_parent_child.ts
Due: eslint --fix, prettier --write

feat: subtasks in table view
  packages/web-client/src/components/column_picker.test.tsx
  packages/web-client/src/components/column_picker.tsx
  packages/web-client/src/components/todo_table_cell.tsx
  packages/web-client/src/components/todo_table_helpers.ts
  packages/web-client/src/hooks/use_view_preferences.test.ts
  packages/web-client/src/hooks/use_view_preferences.ts
Due: eslint --fix, prettier --write

fix: filter child todos from kanban/table
  packages/web-client/src/components/todo_board_helpers.ts
  packages/web-client/src/components/todo_table_helpers.test.ts
  packages/web-client/src/components/todo_table_helpers.ts
Due: eslint --fix, prettier --write

feat: subtasks table popover
  packages/web-client/src/components/subtask_indicator.tsx
  packages/web-client/src/components/subtasks_popover.tsx
  packages/web-client/src/components/todo_table_cell.tsx
Due: eslint --fix, prettier --write

fix: better popover positioning
  package.json
  packages/web-client/package.json
  packages/web-client/src/components/bulk_due_date_popover.tsx
  packages/web-client/src/components/due_date_popover.tsx
  packages/web-client/src/components/due_date_popover_shared.tsx
  packages/web-client/src/components/subtasks_popover.tsx
  packages/web-client/src/components/tags_popover.tsx
  packages/web-client/src/hooks/use_floating_position.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add changeset for parent-child todos feature
  .changeset/parent-child-todos.md
Due: prettier --write, tsx scripts/lint-changesets.ts

fix: add .changeset to prettierignore, use double quotes
  .changeset/parent-child-todos.md
  .prettierignore
Due: prettier --write, tsx scripts/lint-changesets.ts

test: update cassettes
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/status-message-pattern.json
Due: prettier --write

feat: Add parent-child todo relationships (subtasks) (#404)
  .changeset/parent-child-todos.md
  .prettierignore
  package.json
  packages/core-shared/src/api/database-structures.ts
  packages/core-shared/src/versions/todo_alpha3.ts
  packages/mcp_server/src/integration-tests/helpers/mcp-assertions.ts
  packages/mcp_server/src/integration-tests/suites/parent-child.test.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/list-todos.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/status-message-pattern.json
  packages/web-client/package.json
  packages/web-client/src/components/bulk_due_date_popover.tsx
  packages/web-client/src/components/column_picker.test.tsx
  packages/web-client/src/components/column_picker.tsx
  packages/web-client/src/components/due_date_popover.tsx
  packages/web-client/src/components/due_date_popover_shared.tsx
  packages/web-client/src/components/subtask_indicator.tsx
  packages/web-client/src/components/subtasks_popover.tsx
  packages/web-client/src/components/tags_popover.tsx
  packages/web-client/src/components/todo_board_helpers.ts
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_list_element.tsx
  packages/web-client/src/components/todo_parent_field.tsx
  packages/web-client/src/components/todo_table_cell.tsx
  packages/web-client/src/components/todo_table_helpers.test.ts
  packages/web-client/src/components/todo_table_helpers.ts
  packages/web-client/src/components/todo_view_fields.tsx
  packages/web-client/src/hooks/use_floating_position.ts
  packages/web-client/src/hooks/use_parent_child.ts
  packages/web-client/src/hooks/use_view_preferences.test.ts
  packages/web-client/src/hooks/use_view_preferences.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: wip audit log
  packages/core-server/src/api/audit-database.test.ts
  packages/core-server/src/api/audit-database.ts
  packages/core-server/src/api/audit-service.ts
  packages/core-server/src/index.ts
  packages/core-server/src/utils/database-names.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/versions/audit_log_alpha1.test.ts
  packages/core-shared/src/versions/audit_log_alpha1.ts
  packages/web-api/src/index.ts
  packages/web-api/src/routes/audit-log.ts
Due: eslint --fix, prettier --write

feat: web ui audit augmented todo crud actions
  packages/web-api/src/routes/audit-log.ts
  packages/web-client/src/hooks/use_audit_log.ts
  packages/web-client/src/hooks/use_audited_todo_mutations.ts
Due: eslint --fix, prettier --write

feat: mcp server audit logging
  packages/mcp_server/src/tools/audit-helper.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/delete-todo.ts
  packages/mcp_server/src/tools/time-tracking.ts
  packages/mcp_server/src/tools/toggle-completion.ts
  packages/mcp_server/src/tools/update-todo.ts
Due: eslint --fix, prettier --write

feat: sync audit logging
  packages/web-api/src/email/sync-helpers.ts
  packages/web-api/src/email/sync-scheduler.ts
  packages/web-api/src/github/sync-helpers.ts
  packages/web-api/src/github/sync-scheduler.ts
  packages/web-api/src/rss/sync-helpers.ts
  packages/web-api/src/rss/sync-scheduler.ts
  packages/web-api/src/utils/sync-audit.ts
Due: eslint --fix, prettier --write

feat: audit ui sidebar
  packages/mcp_server/src/tools/audit-helper.ts
  packages/web-client/src/components/audit_sidebar.test.tsx
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/hooks/use_audit_log_data.tsx
  packages/web-client/src/hooks/use_audit_log_stream.ts
Due: eslint --fix, prettier --write
