Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: make calendar period label clickable to reset view
  packages/web-client/src/components/todo_filters.test.tsx
  packages/web-client/src/components/todo_filters.tsx
  spec/todos/done/2025-12-21-18-18-30-calendar-nav-clickable.md
  spec/todos/work/2025-12-21-18-18-30-calendar-nav-clickable/task.md
Due: eslint --fix, prettier --write

feat: make calendar period label clickable to reset view (#276)
  packages/web-client/src/components/todo_filters.test.tsx
  packages/web-client/src/components/todo_filters.tsx
  spec/todo.md
  spec/todos/done/2025-12-21-18-18-30-calendar-nav-clickable.md
Due: eslint --fix, prettier --write

chore: implement fixed versioning and aggregated releases
  .changeset/config.json
  .github/workflows/release.yml
  CLAUDE.md
  package.json
  scripts/aggregate-changelog.js
Due: eslint --fix, prettier --write

chore: changeset
  .changeset/fixed-versioning-and-releases.md
  CLAUDE.md
Due: prettier --write

chore: implement fixed versioning and aggregated releases (#277)
  .changeset/config.json
  .changeset/fixed-versioning-and-releases.md
  .github/workflows/release.yml
  CLAUDE.md
  package.json
  scripts/aggregate-changelog.js
Due: eslint --fix, prettier --write

chore: customize changelog to remove thanks messages
  .changeset/changelog-config.js
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: customize changelog to remove thanks messages (#279)
  .changeset/changelog-config.js
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: convert changelog config to commonjs syntax
  .changeset/changelog-config.js
Due: prettier --write

chore: convert changelog config to commonjs syntax (#280)
  .changeset/changelog-config.js
Due: prettier --write

feat: improved github sync
  packages/web-api/src/github/client.test.ts
  packages/web-api/src/github/client.ts
  packages/web-api/src/github/types.ts
  spec/todos/work/2025-12-22-10-59-46-github-pr-reviews/task.md
Due: eslint --fix, prettier --write

docs: add selective resync spec, remove completed task
  spec/todo.md
  spec/todos/done/2025-12-22-10-59-46-github-pr-reviews.md
Due: prettier --write

feat: add GitHub PR review sync support (#281)
  packages/web-api/src/github/client.test.ts
  packages/web-api/src/github/client.ts
  packages/web-api/src/github/types.ts
  spec/todo.md
  spec/todos/done/2025-12-22-10-59-46-github-pr-reviews.md
Due: eslint --fix, prettier --write

chore: todo
  spec/todo.md
  spec/todos/work/2025-12-22-14-32-47-localhost-api-db-bug/task.md
Due: prettier --write

fix: replace hardcoded localhost with dynamic origin url
  packages/web-client/src/hooks/use_couchdb_sync.test.tsx
  packages/web-client/src/hooks/use_couchdb_sync.ts
  spec/todos/done/2025-12-22-14-32-47-localhost-api-db-bug.md
  spec/todos/work/2025-12-22-14-32-47-localhost-api-db-bug/task.md
Due: eslint --fix, prettier --write

fix: replace hardcoded localhost with dynamic origin url (#282)
  packages/web-client/src/hooks/use_couchdb_sync.test.tsx
  packages/web-client/src/hooks/use_couchdb_sync.ts
  spec/todo.md
  spec/todos/done/2025-12-22-14-32-47-localhost-api-db-bug.md
Due: eslint --fix, prettier --write

chore: todo
  spec/todo.md
  spec/todos/work/2025-12-22-16-28-01-github-api-rate-limit-fix/task.md
Due: prettier --write

feat: implement github api rate limit handling
  CLAUDE.md
  packages/web-api/src/github/client.test.ts
  packages/web-api/src/github/client.ts
  packages/web-api/src/github/error-handling.test.ts
  packages/web-api/src/github/rate-limit-manager.test.ts
  packages/web-api/src/github/rate-limit-manager.ts
  packages/web-api/src/github/rate-limit.test.ts
  packages/web-api/src/github/rate-limit.ts
  packages/web-api/src/github/sync-scheduler.ts
  packages/web-api/src/routes/users.ts
  packages/web-client/src/components/user_profile.tsx
  spec/todos/done/2025-12-22-16-28-01-github-api-rate-limit-fix.md
Due: eslint --fix, prettier --write

chore: changeset
  .changeset/github-api-rate-limit-handling.md
Due: prettier --write

chore: todo
  spec/todos/work/2025-12-22-18-15-32-infinite-all-docs-loop/task.md
Due: prettier --write

fix: github sync performance
  packages/core-shared/src/api/database-structures.ts
  packages/web-api/src/github/sync-utils.test.ts
  packages/web-api/src/github/sync-utils.ts
  spec/todos/work/2025-12-22-18-15-32-infinite-all-docs-loop/task.md
Due: eslint --fix, prettier --write

perf: optimize database queries with mapreduce views
  .changeset/optimize-database-queries.md
  CLAUDE.md
  packages/core-shared/src/api/database-structures.ts
  packages/mcp_server/src/mcp-server.ts
  spec/todos/done/2025-12-22-18-15-32-infinite-all-docs-loop.md
Due: eslint --fix, prettier --write

fix: use all design documents from core-shared in test setup
  packages/mcp_server/package.json
  packages/mcp_server/src/integration-tests/setup/database-setup.ts
Due: eslint --fix, prettier --write

fix: pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

perf: optimize database queries to eliminate infinite all-docs loop (#284)
  .changeset/optimize-database-queries.md
  CLAUDE.md
  packages/core-shared/src/api/database-structures.ts
  packages/mcp_server/package.json
  packages/mcp_server/src/integration-tests/setup/database-setup.ts
  packages/mcp_server/src/mcp-server.ts
  packages/web-api/src/github/sync-utils.test.ts
  packages/web-api/src/github/sync-utils.ts
  pnpm-lock.yaml
  spec/todos/done/2025-12-22-18-15-32-infinite-all-docs-loop.md
Due: eslint --fix, prettier --write

chore: rename changelog config to .cjs extension
  .changeset/changelog-config.cjs
  .changeset/config.json
Due: prettier --write

chore: rename changelog config to .cjs extension (#285)
  .changeset/changelog-config.cjs
  .changeset/config.json
Due: prettier --write

feat: implement github api rate limit handling (#283)
  .changeset/github-api-rate-limit-handling.md
  CLAUDE.md
  packages/web-api/src/github/client.test.ts
  packages/web-api/src/github/client.ts
  packages/web-api/src/github/error-handling.test.ts
  packages/web-api/src/github/rate-limit-manager.test.ts
  packages/web-api/src/github/rate-limit-manager.ts
  packages/web-api/src/github/rate-limit.test.ts
  packages/web-api/src/github/rate-limit.ts
  packages/web-api/src/github/sync-scheduler.ts
  packages/web-api/src/routes/users.ts
  packages/web-client/src/components/user_profile.tsx
  spec/todo.md
  spec/todos/done/2025-12-22-16-28-01-github-api-rate-limit-fix.md
Due: eslint --fix, prettier --write

chore: todo
  spec/todo.md
  spec/todos/work/2025-12-22-22-23-59-noisy-release-notes/task.md
Due: prettier --write

fix: simplify changelog to reduce release note noise
  scripts/aggregate-changelog.js
  spec/todos/done/2025-12-22-22-23-59-noisy-release-notes.md
  spec/todos/work/2025-12-22-22-23-59-noisy-release-notes/task.md
Due: eslint --fix, prettier --write

fix: simplify changelog to reduce release note noise (#286)
  scripts/aggregate-changelog.js
  spec/todo.md
  spec/todos/done/2025-12-22-22-23-59-noisy-release-notes.md
Due: eslint --fix, prettier --write

fix: filter dropdown cutoff with empty content
  packages/web-client/src/components/column_picker.tsx
  packages/web-client/src/components/eddo_context_filter.tsx
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/status_filter.tsx
  packages/web-client/src/components/tag_filter.tsx
  packages/web-client/src/components/tag_input.tsx
  packages/web-client/src/components/time_range_filter.tsx
  packages/web-client/src/eddo.css
  spec/todo.md
  spec/todos/done/2025-12-22-22-38-26-filter-dropdown-cutoff.md
Due: eslint --fix, prettier --write

chore: changeset
  .changeset/fix-filter-dropdown-cutoff.md
Due: prettier --write

fix: filter dropdown cutoff with empty content (#287)
  .changeset/fix-filter-dropdown-cutoff.md
  packages/web-client/src/components/column_picker.tsx
  packages/web-client/src/components/eddo_context_filter.tsx
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/status_filter.tsx
  packages/web-client/src/components/tag_filter.tsx
  packages/web-client/src/components/tag_input.tsx
  packages/web-client/src/components/time_range_filter.tsx
  packages/web-client/src/eddo.css
  spec/todo.md
  spec/todos/done/2025-12-22-22-38-26-filter-dropdown-cutoff.md
Due: eslint --fix, prettier --write

chore: update dotenv to 1.5.1
  package.json
  packages/core-server/package.json
  packages/mcp_server/package.json
  packages/printer_service/package.json
  packages/telegram_bot/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update only-built-deps
  package.json
Due: prettier --write

fix: use dynamic path for testcontainer import
  packages/mcp_server/src/integration-tests/setup/global.ts
Due: eslint --fix, prettier --write

chore: todo
  spec/todo.md
  spec/todos/work/2025-12-22-23-05-26-testcontainers/task.md
Due: prettier --write

test: add testcontainers for automated couchdb setup
  .changeset/testcontainers-integration.md
  .github/workflows/test.yml
  .gitignore
  DEVELOPMENT.md
  package.json
  packages/mcp_server/vitest.integration.config.ts
  pnpm-lock.yaml
  spec/todos/done/2025-12-22-23-05-26-testcontainers.md
  spec/todos/work/2025-12-22-23-05-26-testcontainers/task.md
  test/e2e-global-setup.ts
  test/e2e-setup.js
  test/global-testcontainer-setup.ts
  test/integration-global-setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix: load testcontainer config in integration tests
  packages/mcp_server/src/integration-tests/setup/global.ts
Due: eslint --fix, prettier --write

refactor: fail fast if testcontainer config missing
  packages/mcp_server/src/integration-tests/setup/global.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})
  prettier --write: ((((any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})) or (any of: *.{ts,js})) or (any of: packages/**/*.{json,md})) or (any of: *.{json,md})
