Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix(web-client): improve responsive layout of header menu (#453)
  packages/web-client/src/components/add_todo_popover.tsx
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/components/todo_filters_navigation.tsx
  packages/web-client/src/components/todo_filters_row.tsx
Due: eslint --fix, prettier --write

feat: add legend to graph view with node type icons
  packages/web-client/src/components/todo_graph_legend.tsx
  packages/web-client/src/components/todo_graph_renderer.tsx
Due: eslint --fix, prettier --write

feat: add legend to graph view with node type icons (#454)
  packages/web-client/src/components/todo_graph_legend.tsx
  packages/web-client/src/components/todo_graph_renderer.tsx
Due: eslint --fix, prettier --write

feat(web-api): move processed emails to eddo-processed folder
  .changeset/email-sync-move-processed.md
  packages/web-api/src/email/client.test.ts
  packages/web-api/src/email/client.ts
  packages/web-api/src/email/imap-helpers.test.ts
  packages/web-api/src/email/imap-helpers.ts
  packages/web-api/src/email/index.ts
  packages/web-api/src/email/sync-helpers.test.ts
  packages/web-api/src/email/sync-helpers.ts
  packages/web-api/src/email/sync-scheduler.ts
  packages/web-api/src/email/user-sync-operations.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add blockedBy field for task dependencies
  .changeset/blocked-by-task-dependencies.md
  CLAUDE.md
  packages/core-shared/src/versions/todo_alpha3.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/web-client/src/components/todo_blocked_by_field.tsx
  packages/web-client/src/components/todo_blocked_by_view.tsx
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_graph_helpers.test.ts
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_legend.tsx
  packages/web-client/src/components/todo_graph_renderer.tsx
  packages/web-client/src/components/todo_view_fields.tsx
  packages/web-client/src/hooks/use_parent_child.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add blockedBy field for task dependencies (#457)
  .changeset/blocked-by-task-dependencies.md
  CLAUDE.md
  packages/core-shared/src/versions/todo_alpha3.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/web-client/src/components/todo_blocked_by_field.tsx
  packages/web-client/src/components/todo_blocked_by_view.tsx
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_graph_helpers.test.ts
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_legend.tsx
  packages/web-client/src/components/todo_graph_renderer.tsx
  packages/web-client/src/components/todo_view_fields.tsx
  packages/web-client/src/hooks/use_parent_child.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-api): move processed emails to eddo-processed folder (#458)
  .changeset/email-sync-move-processed.md
  packages/web-api/src/email/client.test.ts
  packages/web-api/src/email/client.ts
  packages/web-api/src/email/imap-helpers.test.ts
  packages/web-api/src/email/imap-helpers.ts
  packages/web-api/src/email/index.ts
  packages/web-api/src/email/sync-helpers.test.ts
  packages/web-api/src/email/sync-helpers.ts
  packages/web-api/src/email/sync-scheduler.ts
  packages/web-api/src/email/user-sync-operations.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: pouchdb improvements
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/components/todo_board_state.ts
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/hooks/use_couchdb_sync_helpers.ts
  packages/web-client/src/hooks/use_todos_by_date_range.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
Due: eslint --fix, prettier --write

fix: PouchDB performance, memory leak, navigation
  .changeset/pouchdb-performance-fixes.md
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/config/query_client.ts
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_eddo_contexts.ts
  packages/web-client/src/hooks/use_highlight_context.tsx
  packages/web-client/src/hooks/use_tags.test.tsx
  packages/web-client/src/hooks/use_tags.ts
  packages/web-client/src/hooks/use_todos_by_date_range.ts
  packages/web-client/src/test-setup.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: PouchDB performance, memory leak, navigation (#459)
  .changeset/pouchdb-performance-fixes.md
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/components/todo_board_state.ts
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/config/query_client.ts
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_couchdb_sync_helpers.ts
  packages/web-client/src/hooks/use_eddo_contexts.ts
  packages/web-client/src/hooks/use_highlight_context.tsx
  packages/web-client/src/hooks/use_tags.test.tsx
  packages/web-client/src/hooks/use_tags.ts
  packages/web-client/src/hooks/use_todos_by_date_range.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
  packages/web-client/src/test-setup.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

refactor(web-client): optimize table queries with MapReduce views
  .changeset/mapreduce-views-optimization.md
  packages/core-shared/src/api/database-structures.ts
  packages/web-client/src/components/subtasks_popover.tsx
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/components/todo_table_cell.tsx
  packages/web-client/src/components/todo_table_content.tsx
  packages/web-client/src/components/todo_table_row.tsx
  packages/web-client/src/hooks/use_eddo_contexts.ts
  packages/web-client/src/hooks/use_parent_child.ts
  packages/web-client/src/hooks/use_tags.test.tsx
  packages/web-client/src/hooks/use_tags.ts
  packages/web-client/src/test-setup.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

refactor(web-client): optimize table queries with MapReduce views (#460)
  .changeset/mapreduce-views-optimization.md
  packages/core-shared/src/api/database-structures.ts
  packages/web-client/src/components/subtasks_popover.tsx
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/components/todo_table_cell.tsx
  packages/web-client/src/components/todo_table_content.tsx
  packages/web-client/src/components/todo_table_row.tsx
  packages/web-client/src/hooks/use_eddo_contexts.ts
  packages/web-client/src/hooks/use_parent_child.ts
  packages/web-client/src/hooks/use_tags.test.tsx
  packages/web-client/src/hooks/use_tags.ts
  packages/web-client/src/test-setup.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix(web-api): add alg param to JWT for hono 4.11.3
  packages/web-api/src/index.ts
Due: eslint --fix, prettier --write

refactor: migrate todo table to TanStack Table
  .changeset/tanstack-table-migration.md
  packages/web-client/package.json
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table_cell.tsx
  packages/web-client/src/components/todo_table_columns.tsx
  packages/web-client/src/components/todo_table_content.tsx
  packages/web-client/src/components/todo_table_context_group.tsx
  packages/web-client/src/components/todo_table_row.tsx
  packages/web-client/src/components/todo_table_rows.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-client): add fractal subtask expansion to todo table
  packages/web-client/src/components/bulk_due_date_popover.tsx
  packages/web-client/src/components/todo_table_child_row.tsx
  packages/web-client/src/components/todo_table_context_group.tsx
  packages/web-client/src/components/todo_table_expand_toggle.tsx
  packages/web-client/src/components/todo_table_row_actions.tsx
  packages/web-client/src/components/todo_table_rows.tsx
  packages/web-client/src/hooks/use_expanded_children.ts
Due: eslint --fix, prettier --write

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: extract depth styling helpers to fix lint
  packages/web-client/src/components/todo_table_child_row.tsx
Due: eslint --fix, prettier --write

refactor: add TodoColumnDef type alias to reduce eslint disables
  packages/web-client/src/components/todo_table_child_row.tsx
  packages/web-client/src/components/todo_table_columns.tsx
  packages/web-client/src/components/todo_table_rows.tsx
Due: eslint --fix, prettier --write

feat(web-client): TanStack Table migration + expandable subtask trees (#462)
  .changeset/tanstack-table-migration.md
  packages/web-api/src/index.ts
  packages/web-client/package.json
  packages/web-client/src/components/bulk_due_date_popover.tsx
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table_cell.tsx
  packages/web-client/src/components/todo_table_child_row.tsx
  packages/web-client/src/components/todo_table_columns.tsx
  packages/web-client/src/components/todo_table_content.tsx
  packages/web-client/src/components/todo_table_context_group.tsx
  packages/web-client/src/components/todo_table_expand_toggle.tsx
  packages/web-client/src/components/todo_table_row.tsx
  packages/web-client/src/components/todo_table_row_actions.tsx
  packages/web-client/src/components/todo_table_rows.tsx
  packages/web-client/src/hooks/use_expanded_children.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(core-shared): add attachment utilities for CouchDB attachments
  packages/core-shared/src/index.ts
  packages/core-shared/src/utils/attachment.test.ts
  packages/core-shared/src/utils/attachment.ts
  packages/core-shared/src/versions/todo_alpha3.ts
Due: eslint --fix, prettier --write

feat(web-client): add file upload components using react-dropzone
  packages/web-client/package.json
  packages/web-client/src/components/file_drop_zone.tsx
  packages/web-client/src/hooks/use_attachment.ts
  packages/web-client/src/hooks/use_image_paste.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(web-client): add attachment display components
  packages/web-client/src/components/attachment_image.tsx
  packages/web-client/src/components/attachment_markdown.tsx
  packages/web-client/src/components/image_lightbox.tsx
Due: eslint --fix, prettier --write

feat(web-client): integrate attachment display into todo views
  packages/web-client/src/components/todo_description_field.tsx
  packages/web-client/src/components/todo_edit_fields.tsx
  packages/web-client/src/components/todo_view_fields.tsx
Due: eslint --fix, prettier --write

feat(mcp-server): add attachment management tools
  packages/mcp_server/src/tools/attachment-tools.ts
  packages/mcp_server/src/tools/index.ts
  packages/mcp_server/src/tools/register-tools.ts
Due: eslint --fix, prettier --write

feat(web-client): add image compression and mobile camera support
  packages/web-client/package.json
  packages/web-client/src/components/file_drop_zone.tsx
  packages/web-client/src/hooks/use_attachment.ts
  packages/web-client/src/utils/image_compression.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add changeset for image upload feature
  .changeset/image-upload-support.md
Due: prettier --write, tsx scripts/lint-changesets.ts

feat(web-client): integrate upload UI into description field
  packages/web-client/src/components/todo_description_field.tsx
Due: eslint --fix, prettier --write

refactor: use separate attachments database for image uploads
  packages/core-client/src/config/client-env.ts
  packages/core-client/src/config/index.ts
  packages/core-client/src/index.ts
  packages/core-server/src/index.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/attachment.ts
  packages/mcp_server/src/mcp-server.ts
  packages/mcp_server/src/tools/attachment-tools.ts
  packages/mcp_server/src/tools/register-tools.ts
  packages/mcp_server/src/tools/types.ts
  packages/web-client/src/components/attachment_image.tsx
  packages/web-client/src/components/attachment_markdown.tsx
  packages/web-client/src/components/audit_sidebar.test.tsx
  packages/web-client/src/components/global_todo_flyout.test.tsx
  packages/web-client/src/components/image_lightbox.tsx
  packages/web-client/src/components/todo_description_field.tsx
  packages/web-client/src/components/todo_view_fields.tsx
  packages/web-client/src/hooks/use_attachment.ts
  packages/web-client/src/hooks/use_database_changes.test.tsx
  packages/web-client/src/hooks/use_time_tracking_active.test.ts
  packages/web-client/src/pouch_db.ts
  packages/web-client/src/pouch_db_types.ts
  packages/web-client/src/test-setup.ts
Due: eslint --fix, prettier --write

feat: add sync support for attachments database
  packages/web-api/src/index.ts
  packages/web-api/src/middleware/user-db.ts
  packages/web-api/src/routes/attachments-db-proxy.ts
  packages/web-client/src/hooks/use_couchdb_sync.ts
  packages/web-client/src/hooks/use_couchdb_sync_helpers.ts
Due: eslint --fix, prettier --write

feat: auto-create attachments database when creating user database
  packages/core-server/src/api/user-registry.ts
Due: eslint --fix, prettier --write

chore: remove debug console.log statements from description field
  packages/web-client/src/components/todo_description_field.tsx
Due: eslint --fix, prettier --write

fix: preserve Content-Type header in PouchDB sync fetch
  packages/web-client/src/hooks/use_couchdb_sync_helpers.ts
Due: eslint --fix, prettier --write

feat: use content-based hash for attachment filenames
  packages/web-client/src/hooks/use_attachment.ts
  packages/web-client/src/utils/file_hash.ts
Due: eslint --fix, prettier --write

fix: use original filename as alt text in markdown reference
  packages/web-client/src/components/todo_description_field.tsx
Due: eslint --fix, prettier --write

fix: allow attachment: protocol in react-markdown URL transform
  packages/web-client/src/components/attachment_markdown.tsx
Due: eslint --fix, prettier --write

fix: add optimistic cache update to save mutation
  packages/web-client/src/hooks/use_audited_todo_mutations.ts
Due: eslint --fix, prettier --write

fix: use editedTodo for view mode to show saved changes immediately
  packages/web-client/src/components/todo_flyout.tsx
Due: eslint --fix, prettier --write

feat: add image attachment support to notes
  packages/web-client/src/components/note_attachments.tsx
  packages/web-client/src/components/todo_notes_field.tsx
Due: eslint --fix, prettier --write

feat: add attachment upload to new note form
  packages/web-client/src/components/todo_notes_field.tsx
Due: eslint --fix, prettier --write

fix: ensure addNote uses fresh onChange reference
  packages/core-shared/src/index.ts
  packages/core-shared/src/utils/attachment.test.ts
  packages/core-shared/src/utils/attachment.ts
  packages/web-client/src/components/todo_notes_field.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})
  prettier --write: ((((any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})) or (any of: *.{ts,js})) or (any of: packages/**/*.{json,md})) or (any of: *.{json,md})
  tsx scripts/lint-changesets.ts: any of: .changeset/*.md
