Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{ts,js}": ["prettier --write"],
  "packages/**/*.{json,md}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"],
  ".changeset/*.md": ["tsx scripts/lint-changesets.ts"]
}

feat: add image lightbox components for chat
  packages/web-client/src/components/chat/assistant-ui/image-lightbox-context.tsx
  packages/web-client/src/components/chat/assistant-ui/image-lightbox.tsx
Due: eslint --fix, prettier --write

feat: add SearXNG skill and Docker management for chat
  docker-compose.otel.yml
  docker-compose.yml
  docker/searxng/docker.sh
  packages/chat-agent/README.md
  packages/chat-agent/skills/searxng-search/SKILL.md
  packages/chat-agent/skills/searxng-search/content.js
  packages/chat-agent/skills/searxng-search/package.json
  packages/chat-agent/skills/searxng-search/search.js
  packages/web-api/src/chat/chat-session-helpers.ts
  packages/web-api/src/chat/container-operations.ts
  packages/web-api/src/docker/searxng-manager.ts
  packages/web-api/src/email/sync-scheduler.ts
  packages/web-api/src/email/user-sync-operations.ts
  packages/web-api/src/git/repo-manager.ts
  packages/web-api/src/index.ts
  packages/web-client/src/components/chat/assistant-ui/markdown-text.tsx
  packages/web-client/src/components/chat/chat_page.tsx
  packages/web-client/src/components/chat/session_card.tsx
  packages/web-client/src/components/chat/session_list.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: add missing TypeScript types and exports for SearXNG PR
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/chat-session.ts
  packages/core-shared/src/types/chat.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/web-api/src/chat/chat-session-helpers.ts
  packages/web-api/src/chat/setup-logging.ts
  packages/web-api/src/docker/container-utils.ts
  packages/web-api/src/docker/index.ts
  packages/web-api/src/docker/types.ts
Due: eslint --fix, prettier --write

chore: add changeset for SearXNG feature
  .changeset/searxng-skill.md
Due: prettier --write, tsx scripts/lint-changesets.ts

refactor(web-client): extract useChatPageState hook to fix lint error
  packages/web-client/src/components/chat/chat_page.tsx
Due: eslint --fix, prettier --write

feat: add SearXNG search skill and Docker management for chat (#475)
  .changeset/searxng-skill.md
  docker-compose.otel.yml
  docker-compose.yml
  docker/searxng/docker.sh
  packages/chat-agent/README.md
  packages/chat-agent/skills/searxng-search/SKILL.md
  packages/chat-agent/skills/searxng-search/content.js
  packages/chat-agent/skills/searxng-search/package.json
  packages/chat-agent/skills/searxng-search/search.js
  packages/core-server/src/index.ts
  packages/core-server/src/utils/database-names.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/chat-session.ts
  packages/core-shared/src/types/chat.ts
  packages/core-shared/src/utils/chat-attachments.test.ts
  packages/core-shared/src/utils/chat-attachments.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/web-api/src/chat/chat-image-service.ts
  packages/web-api/src/chat/chat-session-helpers.ts
  packages/web-api/src/chat/container-operations.ts
  packages/web-api/src/chat/setup-logging.ts
  packages/web-api/src/docker/container-utils.ts
  packages/web-api/src/docker/index.ts
  packages/web-api/src/docker/searxng-manager.ts
  packages/web-api/src/docker/types.ts
  packages/web-api/src/email/sync-scheduler.ts
  packages/web-api/src/email/user-sync-operations.ts
  packages/web-api/src/git/repo-manager.ts
  packages/web-api/src/index.ts
  packages/web-client/src/components/chat/assistant-ui/image-lightbox-context.tsx
  packages/web-client/src/components/chat/assistant-ui/image-lightbox.tsx
  packages/web-client/src/components/chat/assistant-ui/markdown-text.tsx
  packages/web-client/src/components/chat/assistant-ui/thread.tsx
  packages/web-client/src/components/chat/chat_page.tsx
  packages/web-client/src/components/chat/pi-message-converter.ts
  packages/web-client/src/components/chat/session_card.tsx
  packages/web-client/src/components/chat/session_list.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add chat UI components and streaming API hook
  packages/web-client/src/components/chat/chat_input.tsx
  packages/web-client/src/components/chat/chat_messages.tsx
  packages/web-client/src/components/chat/message_bubble.tsx
Due: eslint --fix, prettier --write

feat(web-client): add chat session UI components
  packages/web-client/src/components/page_wrapper.tsx
Due: eslint --fix, prettier --write

feat: add AI provider API keys config and Docker setup
  docker/pi-coding-agent/Dockerfile
  docker/pi-coding-agent/README.md
  docs/chat-architecture.png
  packages/web-api/src/chat/chat-route-handlers.ts
  packages/web-api/src/docker/container-manager.ts
  packages/web-api/src/docker/index.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/components/user_profile_ai_keys_section.tsx
  packages/web-client/src/components/user_profile_hooks.ts
  packages/web-client/src/components/user_profile_tab_integrations.tsx
  packages/web-client/src/components/user_profile_types.ts
  packages/web-client/src/hooks/use_chat_api.ts
Due: eslint --fix, prettier --write

refactor: migrate chat UI to assistant-ui library
  packages/web-client/src/components/chat/chat_input.tsx
  packages/web-client/src/components/chat/chat_messages.tsx
  packages/web-client/src/components/chat/message_bubble.tsx
Due: eslint --fix, prettier --write

feat: add chat-agent package with skills and extensions
  docker/pi-coding-agent/Dockerfile
  docker/pi-coding-agent/README.md
Due: prettier --write

feat: add chat sidebar with session management
  docker/pi-coding-agent/Dockerfile
  packages/chat-agent/AGENTS.md
  packages/chat-agent/extensions/graphviz-chart/graphviz-reference.md
  packages/chat-agent/extensions/graphviz-chart/index.ts
  packages/chat-agent/extensions/vega-chart/index.ts
  packages/chat-agent/extensions/vega-chart/vega-lite-reference.md
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/web-api/src/docker/rpc-stream.ts
  packages/web-api/src/git/repo-manager.test.ts
  packages/web-api/src/git/repo-manager.ts
  packages/web-client/src/components/chat/assistant-ui/thread.tsx
  packages/web-client/src/components/chat/chat_page.tsx
  packages/web-client/src/components/chat/chat_sidebar.tsx
  packages/web-client/src/components/chat/chat_thread.tsx
  packages/web-client/src/components/chat/index.ts
  packages/web-client/src/components/chat_view.tsx
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/todos_view.tsx
  packages/web-client/src/hooks/use_chat_api.ts
  packages/web-client/src/hooks/use_profile_types.ts
Due: eslint --fix, prettier --write

feat: add SearXNG skill and Docker management for chat
  docker/pi-coding-agent/Dockerfile
  packages/web-api/src/docker/container-manager.ts
  packages/web-api/src/docker/index.ts
  packages/web-client/src/components/chat/chat_thread.tsx
  packages/web-client/src/hooks/use_chat_api.ts
Due: eslint --fix, prettier --write

fix: add missing container utility functions after rebase
  packages/web-api/src/docker/container-manager.ts
  packages/web-api/src/docker/container-utils.ts
Due: eslint --fix, prettier --write

feat: add chat UI with assistant-ui integration (#478)
  docker/pi-coding-agent/Dockerfile
  docker/pi-coding-agent/README.md
  docs/chat-architecture.png
  packages/chat-agent/AGENTS.md
  packages/chat-agent/extensions/graphviz-chart/graphviz-reference.md
  packages/chat-agent/extensions/graphviz-chart/index.ts
  packages/chat-agent/extensions/vega-chart/index.ts
  packages/chat-agent/extensions/vega-chart/vega-lite-reference.md
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/web-api/src/chat/chat-route-handlers.ts
  packages/web-api/src/docker/container-manager.ts
  packages/web-api/src/docker/container-utils.ts
  packages/web-api/src/docker/index.ts
  packages/web-api/src/docker/rpc-stream.ts
  packages/web-api/src/git/repo-manager.test.ts
  packages/web-api/src/git/repo-manager.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-client/src/components/chat/assistant-ui/thread.tsx
  packages/web-client/src/components/chat/chat_page.tsx
  packages/web-client/src/components/chat/chat_sidebar.tsx
  packages/web-client/src/components/chat/chat_thread.tsx
  packages/web-client/src/components/chat/index.ts
  packages/web-client/src/components/chat_view.tsx
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/todos_view.tsx
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/components/user_profile_ai_keys_section.tsx
  packages/web-client/src/components/user_profile_hooks.ts
  packages/web-client/src/components/user_profile_tab_integrations.tsx
  packages/web-client/src/components/user_profile_types.ts
  packages/web-client/src/hooks/use_chat_api.ts
  packages/web-client/src/hooks/use_profile_types.ts
Due: eslint --fix, prettier --write

fix: remove web-api imports and show failure when user creation fails
  scripts/create-default-user.ts
  scripts/setup-helpers.ts
  scripts/setup.ts
Due: eslint --fix, prettier --write

fix: make OTEL optional in dev scripts
  packages/mcp_server/package.json
  packages/telegram_bot/package.json
  packages/web-api/package.json
Due: prettier --write

fix: load .env file in create-default-user script
  scripts/create-default-user.ts
Due: eslint --fix, prettier --write

docs: update README with detailed setup instructions
  README.md
Due: prettier --write

fix: use .ts extension for local imports
  scripts/create-default-user.ts
Due: eslint --fix, prettier --write

fix: only start couchdb and elasticsearch in setup
  scripts/setup-helpers.ts
Due: eslint --fix, prettier --write

fix: add build step and logs dir creation to setup
  scripts/setup-helpers.ts
  scripts/setup.ts
Due: eslint --fix, prettier --write

fix: skip user creation prompt if user already exists
  scripts/setup-helpers.ts
  scripts/setup.ts
Due: eslint --fix, prettier --write

fix: import hashPassword from web-api instead of bcryptjs
  scripts/create-default-user.ts
Due: eslint --fix, prettier --write

fix: remove duplicate name key in docker-compose.yml
  docker-compose.yml
Due: none

feat: add default user creation with password prompt in setup
  package.json
  scripts/create-default-user.ts
  scripts/setup-helpers.ts
  scripts/setup.ts
Due: eslint --fix, prettier --write

fix: rename setup/doctor commands to avoid pnpm builtin
  DEVELOPMENT.md
  README.md
  package.json
  scripts/doctor-helpers.ts
  scripts/setup-helpers.ts
Due: eslint --fix, prettier --write

fix: add bcryptjs to root devDeps and inline hashPassword
  package.json
  pnpm-lock.yaml
  scripts/create-default-user.ts
Due: eslint --fix, prettier --write

docs: add security note about MCP server auth
  README.md
Due: prettier --write

feat: add setup wizard and doctor diagnostic tool
  .changeset/getting-started-wizard.md
  .env.example
  DEVELOPMENT.md
  README.md
  docker-compose.yml
  package.json
  scripts/doctor-helpers.ts
  scripts/doctor.ts
  scripts/setup-helpers.ts
  scripts/setup.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: silence telemetry proxy errors when OTEL not configured
  packages/web-api/src/routes/telemetry.ts
Due: eslint --fix, prettier --write

fix: setup chat database design documents during user creation
  scripts/create-default-user.ts
Due: eslint --fix, prettier --write

feat: add pi-coding-agent Docker image build to setup wizard
  scripts/setup-helpers.ts
  scripts/setup.ts
Due: eslint --fix, prettier --write

fix: inline database setup logic in create-default-user script
  scripts/create-default-user.ts
Due: eslint --fix, prettier --write

fix: setup user database with design docs during user creation
  scripts/create-default-user.ts
Due: eslint --fix, prettier --write

fix: disable browser telemetry by default in generated .env
  scripts/setup-helpers.ts
Due: eslint --fix, prettier --write

feat: add alpha warning to setup wizard
  scripts/setup.ts
Due: eslint --fix, prettier --write

feat: add pre-flight check to dev script
  package.json
  scripts/check-setup.ts
Due: eslint --fix, prettier --write

fix: recreate user during setup to ensure clean database state
  scripts/create-default-user.ts
Due: eslint --fix, prettier --write

fix: sync chat and docker modules from chat-ui branch
  packages/chat-agent/skills/elasticsearch-esql/SKILL.md
  packages/chat-agent/skills/elasticsearch-esql/esql.js
  packages/chat-agent/skills/elasticsearch-esql/package.json
  packages/chat-agent/skills/elasticsearch-esql/references/dsl-to-esql-migration.md
  packages/chat-agent/skills/elasticsearch-esql/references/esql-reference.md
  packages/chat-agent/skills/elasticsearch-esql/references/esql-version-history.md
  packages/chat-agent/skills/elasticsearch-esql/references/generation-tips.md
  packages/chat-agent/skills/elasticsearch-esql/references/graphviz-reference.md
  packages/chat-agent/skills/elasticsearch-esql/references/query-patterns.md
  packages/chat-agent/skills/elasticsearch-esql/references/vega-lite-reference.md
  packages/web-api/src/chat/chat-service.ts
  packages/web-api/src/chat/chat-session-helpers.ts
  packages/web-api/src/chat/setup-logging.ts
  packages/web-api/src/docker/types.ts
Due: eslint --fix, prettier --write
