Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: display note attachments in view mode
  packages/web-client/src/components/note_view_item.tsx
  packages/web-client/src/components/todo_view_fields.tsx
Due: eslint --fix, prettier --write

feat: add lightbox support for note attachments
  packages/web-api/src/middleware/user-db.ts
  packages/web-client/src/components/image_lightbox.tsx
  packages/web-client/src/components/note_attachments.tsx
  packages/web-client/src/components/note_view_item.tsx
Due: eslint --fix, prettier --write

fix: lightbox only renders with valid docId
  packages/web-client/src/components/image_lightbox.tsx
Due: eslint --fix, prettier --write

fix: AttachmentImage returns null for empty docId
  packages/web-client/src/components/attachment_image.tsx
Due: eslint --fix, prettier --write

fix: hooks don't set error for empty docId
  packages/web-client/src/components/attachment_image.tsx
Due: eslint --fix, prettier --write

chore: update e2e cassette
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/status-message-pattern.json
Due: prettier --write

fix: complete button in table-view and table layout on mobile
  .changeset/fix-table-complete-button.md
  packages/web-client/src/components/todo_table_child_row.tsx
  packages/web-client/src/components/todo_table_columns.tsx
  packages/web-client/src/components/todo_table_context_group.tsx
  packages/web-client/src/hooks/use_audited_todo_mutations.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: complete button in table-view and table layout on mobile (#465)
  .changeset/fix-table-complete-button.md
  packages/web-client/src/components/todo_table_child_row.tsx
  packages/web-client/src/components/todo_table_columns.tsx
  packages/web-client/src/components/todo_table_context_group.tsx
  packages/web-client/src/hooks/use_audited_todo_mutations.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add emailSyncError field to UserPreferences
  packages/core-shared/src/versions/user_registry_alpha2.ts
Due: eslint --fix, prettier --write

feat: add theming system and RPG2 theme for todo graph
  packages/web-client/src/components/todo_graph.css
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph/themes/context.tsx
  packages/web-client/src/components/todo_graph/themes/default/background.tsx
  packages/web-client/src/components/todo_graph/themes/default/edge.tsx
  packages/web-client/src/components/todo_graph/themes/default/index.ts
  packages/web-client/src/components/todo_graph/themes/default/legend.tsx
  packages/web-client/src/components/todo_graph/themes/default/nodes.tsx
  packages/web-client/src/components/todo_graph/themes/index.ts
  packages/web-client/src/components/todo_graph/themes/rpg2/background.tsx
  packages/web-client/src/components/todo_graph/themes/rpg2/edge.tsx
  packages/web-client/src/components/todo_graph/themes/rpg2/index.ts
  packages/web-client/src/components/todo_graph/themes/rpg2/legend.tsx
  packages/web-client/src/components/todo_graph/themes/rpg2/nodes.tsx
  packages/web-client/src/components/todo_graph/themes/types.ts
  packages/web-client/src/components/todo_graph_ground_tile_node.tsx
  packages/web-client/src/components/todo_graph_renderer.tsx
  packages/web-client/src/components/todo_graph_theme_selector.tsx
  packages/web-client/src/components/todo_graph_themed_edge.tsx
  packages/web-client/src/components/todo_graph_themed_legend.tsx
  packages/web-client/src/components/todo_graph_themed_nodes.tsx
  packages/web-client/src/components/walking_character.tsx
  packages/web-client/src/hooks/isometric_layout/grid_utils.ts
  packages/web-client/src/hooks/isometric_layout/ground_tiles.ts
  packages/web-client/src/hooks/isometric_layout/index.ts
  packages/web-client/src/hooks/isometric_layout/layout_engine.ts
  packages/web-client/src/hooks/isometric_layout/node_grouping.ts
  packages/web-client/src/hooks/isometric_layout/node_placement.ts
  packages/web-client/src/hooks/isometric_layout/road_network.ts
  packages/web-client/src/hooks/isometric_layout/types.ts
  packages/web-client/src/hooks/use_isometric_layout.ts
  packages/web-client/src/hooks/use_walking_characters.ts
  packages/web-client/src/hooks/walking_characters/animation.ts
  packages/web-client/src/hooks/walking_characters/index.ts
  packages/web-client/src/hooks/walking_characters/pathfinding.ts
  packages/web-client/src/hooks/walking_characters/types.ts
Due: eslint --fix, prettier --write

feat: add chat database types and API for message storage
  packages/core-server/src/api/chat-database.ts
  packages/core-server/src/api/chat-design-docs.ts
  packages/core-server/src/api/chat-stats.ts
  packages/core-server/src/api/user-registry.ts
  packages/core-server/src/index.ts
  packages/core-server/src/utils/database-names.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/chat-messages.ts
  packages/core-shared/src/types/chat-session.ts
  packages/core-shared/src/types/chat.ts
Due: eslint --fix, prettier --write

feat: add docker container and git repo management modules
  packages/web-api/package.json
  packages/web-api/src/docker/container-manager.ts
  packages/web-api/src/docker/index.ts
  packages/web-api/src/docker/rpc-stream.ts
  packages/web-api/src/docker/types.ts
  packages/web-api/src/git/git-executor.test.ts
  packages/web-api/src/git/git-executor.ts
  packages/web-api/src/git/index.ts
  packages/web-api/src/git/repo-manager.ts
  packages/web-api/src/git/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: add changeset for email sync error field
  .changeset/email-sync-error.md
Due: prettier --write, tsx scripts/lint-changesets.ts

chore: add changeset for todo graph theming
  .changeset/todo-graph-theme.md
Due: prettier --write, tsx scripts/lint-changesets.ts

chore: add changeset for chat database
  .changeset/chat-database.md
Due: prettier --write, tsx scripts/lint-changesets.ts

chore: add changeset for docker/git management
  .changeset/docker-git-management.md
Due: prettier --write, tsx scripts/lint-changesets.ts

feat: add chat database types and API for message storage (#467)
  .changeset/chat-database.md
  packages/core-server/src/api/chat-database.ts
  packages/core-server/src/api/chat-design-docs.ts
  packages/core-server/src/api/chat-stats.ts
  packages/core-server/src/api/user-registry.ts
  packages/core-server/src/index.ts
  packages/core-server/src/utils/database-names.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/chat-messages.ts
  packages/core-shared/src/types/chat-session.ts
  packages/core-shared/src/types/chat.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add theming system and RPG2 theme for todo graph (#469)
  .changeset/todo-graph-theme.md
  packages/web-client/src/components/todo_graph.css
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph/themes/context.tsx
  packages/web-client/src/components/todo_graph/themes/default/background.tsx
  packages/web-client/src/components/todo_graph/themes/default/edge.tsx
  packages/web-client/src/components/todo_graph/themes/default/index.ts
  packages/web-client/src/components/todo_graph/themes/default/legend.tsx
  packages/web-client/src/components/todo_graph/themes/default/nodes.tsx
  packages/web-client/src/components/todo_graph/themes/index.ts
  packages/web-client/src/components/todo_graph/themes/rpg2/background.tsx
  packages/web-client/src/components/todo_graph/themes/rpg2/edge.tsx
  packages/web-client/src/components/todo_graph/themes/rpg2/index.ts
  packages/web-client/src/components/todo_graph/themes/rpg2/legend.tsx
  packages/web-client/src/components/todo_graph/themes/rpg2/nodes.tsx
  packages/web-client/src/components/todo_graph/themes/types.ts
  packages/web-client/src/components/todo_graph_ground_tile_node.tsx
  packages/web-client/src/components/todo_graph_renderer.tsx
  packages/web-client/src/components/todo_graph_theme_selector.tsx
  packages/web-client/src/components/todo_graph_themed_edge.tsx
  packages/web-client/src/components/todo_graph_themed_legend.tsx
  packages/web-client/src/components/todo_graph_themed_nodes.tsx
  packages/web-client/src/components/walking_character.tsx
  packages/web-client/src/hooks/isometric_layout/grid_utils.ts
  packages/web-client/src/hooks/isometric_layout/ground_tiles.ts
  packages/web-client/src/hooks/isometric_layout/index.ts
  packages/web-client/src/hooks/isometric_layout/layout_engine.ts
  packages/web-client/src/hooks/isometric_layout/node_grouping.ts
  packages/web-client/src/hooks/isometric_layout/node_placement.ts
  packages/web-client/src/hooks/isometric_layout/road_network.ts
  packages/web-client/src/hooks/isometric_layout/types.ts
  packages/web-client/src/hooks/use_isometric_layout.ts
  packages/web-client/src/hooks/use_walking_characters.ts
  packages/web-client/src/hooks/walking_characters/animation.ts
  packages/web-client/src/hooks/walking_characters/index.ts
  packages/web-client/src/hooks/walking_characters/pathfinding.ts
  packages/web-client/src/hooks/walking_characters/types.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add emailSyncError field to UserPreferences (#468)
  .changeset/email-sync-error.md
  packages/core-shared/src/versions/user_registry_alpha2.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add docker container and git repo management modules (#470)
  .changeset/docker-git-management.md
  packages/web-api/package.json
  packages/web-api/src/docker/container-manager.ts
  packages/web-api/src/docker/index.ts
  packages/web-api/src/docker/rpc-stream.ts
  packages/web-api/src/docker/types.ts
  packages/web-api/src/git/git-executor.test.ts
  packages/web-api/src/git/git-executor.ts
  packages/web-api/src/git/index.ts
  packages/web-api/src/git/repo-manager.ts
  packages/web-api/src/git/types.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

chore: re-record VCR cassettes for agent-loop integration tests
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/status-message-pattern.json
Due: prettier --write

fix(web-api): escape backslashes in escapeString test helper
  packages/web-api/src/routes/search-query-parser.test.ts
Due: eslint --fix, prettier --write

feat: implement Elasticsearch-based full-text search
  .env.example
  CLAUDE.md
  docker-compose.yml
  docs/elasticsearch-work-package.png
  docs/search-architecture.png
  packages/mcp_server/package.json
  packages/mcp_server/src/mcp-server.ts
  packages/mcp_server/src/tools/index.ts
  packages/mcp_server/src/tools/register-tools.ts
  packages/mcp_server/src/tools/search-query-utils.ts
  packages/mcp_server/src/tools/search-todos.test.ts
  packages/mcp_server/src/tools/search-todos.ts
  packages/mcp_server/tsconfig.json
  packages/web-api/package.json
  packages/web-api/src/elasticsearch/audit-mapping.ts
  packages/web-api/src/elasticsearch/client.ts
  packages/web-api/src/elasticsearch/index-manager.test.ts
  packages/web-api/src/elasticsearch/index-manager.ts
  packages/web-api/src/elasticsearch/index.ts
  packages/web-api/src/elasticsearch/sync-batch.ts
  packages/web-api/src/elasticsearch/sync-service.test.ts
  packages/web-api/src/elasticsearch/sync-service.ts
  packages/web-api/src/elasticsearch/sync-transforms.ts
  packages/web-api/src/elasticsearch/sync-types.ts
  packages/web-api/src/elasticsearch/sync-watcher.ts
  packages/web-api/src/elasticsearch/todo-mapping.ts
  packages/web-api/src/index.ts
  packages/web-api/src/routes/search-handlers.ts
  packages/web-api/src/routes/search-query-parser.test.ts
  packages/web-api/src/routes/search-query-parser.ts
  packages/web-api/src/routes/search.test.ts
  packages/web-api/src/routes/search.ts
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/search_popover.tsx
  packages/web-client/src/components/search_popover_content.tsx
  packages/web-client/src/hooks/use_search.ts
  packages/web-client/src/hooks/use_todo_flyout.tsx
  pnpm-lock.yaml
  scripts/test-elasticsearch-mapping.ts
Due: eslint --fix, prettier --write

fix: resolve conflicts and type errors for ES search
  .changeset/elasticsearch-search.md
  packages/web-api/src/elasticsearch/sync-batch.ts
  packages/web-api/src/elasticsearch/sync-change-processor.ts
  packages/web-api/src/elasticsearch/sync-watcher.ts
  packages/web-api/src/routes/search-handlers.ts
  packages/web-client/src/components/search_popover.tsx
  packages/web-client/src/components/search_popover_content.tsx
  packages/web-client/src/hooks/use_search.ts
  packages/web-client/src/hooks/use_search_api.ts
  packages/web-client/src/hooks/use_search_popover.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

refactor(web-client): extract debounced search to reduce function lines
  packages/web-client/src/hooks/use_search_popover.ts
Due: eslint --fix, prettier --write

feat(web-api): add chat API for AI agent sessions
  packages/web-api/src/chat/chat-route-handlers.ts
  packages/web-api/src/chat/chat-routes.ts
  packages/web-api/src/chat/chat-service.ts
  packages/web-api/src/chat/index.ts
  packages/web-api/src/index.ts
Due: eslint --fix, prettier --write

chore: add changeset for chat API routes
  .changeset/chat-api-routes.md
Due: prettier --write, tsx scripts/lint-changesets.ts

feat(web-api): add chat API for AI agent sessions (#472)
  .changeset/chat-api-routes.md
  packages/web-api/src/chat/chat-route-handlers.ts
  packages/web-api/src/chat/chat-routes.ts
  packages/web-api/src/chat/chat-service.ts
  packages/web-api/src/chat/index.ts
  packages/web-api/src/index.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add chat UI components and streaming API hook
  packages/web-client/package.json
  packages/web-client/src/components/chat/chat_input.tsx
  packages/web-client/src/components/chat/chat_messages.tsx
  packages/web-client/src/components/chat/chat_thread.tsx
  packages/web-client/src/components/chat/index.ts
  packages/web-client/src/components/chat/message_bubble.tsx
  packages/web-client/src/hooks/use_chat_api.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(web-client): add chat session UI components
  packages/web-client/src/components/chat/chat_page.tsx
  packages/web-client/src/components/chat/delete_session_dialog.tsx
  packages/web-client/src/components/chat/index.ts
  packages/web-client/src/components/chat/new_session_dialog.tsx
  packages/web-client/src/components/chat/session_list.test.tsx
  packages/web-client/src/components/chat/session_list.tsx
  packages/web-client/src/components/page_wrapper.tsx
Due: eslint --fix, prettier --write

refactor: migrate chat UI to assistant-ui library
  packages/core-server/src/api/chat-database.ts
  packages/core-shared/src/types/chat-session.ts
  packages/web-api/src/chat/chat-route-handlers.ts
  packages/web-api/src/chat/chat-service.ts
  packages/web-api/src/chat/chat-session-helpers.ts
  packages/web-client/package.json
  packages/web-client/src/components/chat/assistant-ui/index.ts
  packages/web-client/src/components/chat/assistant-ui/markdown-text.tsx
  packages/web-client/src/components/chat/assistant-ui/thread.tsx
  packages/web-client/src/components/chat/assistant-ui/tool-fallback.tsx
  packages/web-client/src/components/chat/chat_input.tsx
  packages/web-client/src/components/chat/chat_messages.tsx
  packages/web-client/src/components/chat/chat_runtime_provider.tsx
  packages/web-client/src/components/chat/chat_thread.tsx
  packages/web-client/src/components/chat/index.ts
  packages/web-client/src/components/chat/message_bubble.tsx
  packages/web-client/src/components/chat/pi-message-converter.ts
  packages/web-client/src/components/chat/tool_renderers.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: add chat-agent package with skills and extensions
  .changeset/chat-agent-package.md
  eslint.config.js
  packages/chat-agent/README.md
  packages/chat-agent/extensions/graphviz-chart.ts
  packages/chat-agent/extensions/vega-chart.ts
  packages/chat-agent/package.json
  packages/chat-agent/skills/eddo-todo/SKILL.md
  packages/chat-agent/skills/eddo-todo/eddo-todo.js
  packages/chat-agent/skills/eddo-todo/eddo-worktree.js
  packages/chat-agent/skills/eddo-todo/eddo.js
  packages/chat-agent/skills/eddo-todo/package.json
  packages/chat-agent/skills/eddo-work/SKILL.md
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: resolve merge conflicts and add changeset
  .changeset/chat-ui-components.md
  packages/web-api/src/chat/chat-service.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

style: fix prettier formatting in page_wrapper.tsx
  packages/web-client/src/components/page_wrapper.tsx
Due: eslint --fix, prettier --write

fix: escape backslashes before quotes in vega-chart pythonScript
  packages/chat-agent/extensions/vega-chart.ts
Due: eslint --fix, prettier --write

feat: add chat-agent package with skills and extensions (#473)
  .changeset/chat-agent-package.md
  eslint.config.js
  packages/chat-agent/README.md
  packages/chat-agent/extensions/graphviz-chart.ts
  packages/chat-agent/extensions/vega-chart.ts
  packages/chat-agent/package.json
  packages/chat-agent/skills/eddo-todo/SKILL.md
  packages/chat-agent/skills/eddo-todo/eddo-todo.js
  packages/chat-agent/skills/eddo-todo/eddo-worktree.js
  packages/chat-agent/skills/eddo-todo/eddo.js
  packages/chat-agent/skills/eddo-todo/package.json
  packages/chat-agent/skills/eddo-work/SKILL.md
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add chat UI components with assistant-ui library integration (#474)
  .changeset/chat-ui-components.md
  packages/core-server/src/api/chat-database.ts
  packages/core-shared/src/types/chat-session.ts
  packages/web-api/src/chat/chat-route-handlers.ts
  packages/web-api/src/chat/chat-service.ts
  packages/web-api/src/chat/chat-session-helpers.ts
  packages/web-client/package.json
  packages/web-client/src/components/chat/assistant-ui/index.ts
  packages/web-client/src/components/chat/assistant-ui/markdown-text.tsx
  packages/web-client/src/components/chat/assistant-ui/thread.tsx
  packages/web-client/src/components/chat/assistant-ui/tool-fallback.tsx
  packages/web-client/src/components/chat/chat_page.tsx
  packages/web-client/src/components/chat/chat_runtime_provider.tsx
  packages/web-client/src/components/chat/chat_thread.tsx
  packages/web-client/src/components/chat/delete_session_dialog.tsx
  packages/web-client/src/components/chat/index.ts
  packages/web-client/src/components/chat/new_session_dialog.tsx
  packages/web-client/src/components/chat/pi-message-converter.ts
  packages/web-client/src/components/chat/session_list.test.tsx
  packages/web-client/src/components/chat/session_list.tsx
  packages/web-client/src/components/chat/tool_renderers.tsx
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/hooks/use_chat_api.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add chat image extraction and attachment storage
  packages/core-server/src/index.ts
  packages/core-server/src/utils/database-names.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/utils/chat-attachments.test.ts
  packages/core-shared/src/utils/chat-attachments.ts
  packages/web-api/src/chat/chat-image-service.ts
  packages/web-api/src/chat/chat-session-helpers.ts
  packages/web-client/src/components/chat/assistant-ui/thread.tsx
  packages/web-client/src/components/chat/pi-message-converter.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})
  prettier --write: ((((any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})) or (any of: *.{ts,js})) or (any of: packages/**/*.{json,md})) or (any of: *.{json,md})
  tsx scripts/lint-changesets.ts: any of: .changeset/*.md
