Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{ts,js}": ["prettier --write"],
  "packages/**/*.{json,md}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

refactor: split design docs into separate documents (#194)
  .changeset/split-design-documents.md
  packages/core-shared/src/api/database-structures.ts
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_time_tracking_active.test.ts
  packages/web-client/src/hooks/use_time_tracking_active.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
  spec/todos/done/2025-10-05-17-36-28-split-design-docs.md
Due: eslint --fix, prettier --write

feat: add thermal printer briefing task spec
  spec/todos/work/2025-10-05-18-53-07-print-daily-briefing-epson/task.md
Due: prettier --write

feat: add printer service with cli and formatter
  .env.example
  package.json
  packages/printer_service/.gitignore
  packages/printer_service/package.json
  packages/printer_service/src/cli.ts
  packages/printer_service/src/printer/client.ts
  packages/printer_service/src/printer/formatter.ts
  packages/printer_service/src/utils/config.ts
  packages/printer_service/tsconfig.json
  pnpm-lock.yaml
  spec/todos/work/2025-10-05-18-53-07-print-daily-briefing-epson/task.md
Due: eslint --fix, prettier --write

fix: update qr code url to correct repository
  packages/printer_service/src/printer/client.ts
Due: eslint --fix, prettier --write

feat: implement file-based briefing sharing system
  packages/printer_service/src/cli.ts
  packages/printer_service/src/printer/briefing_loader.ts
  packages/telegram_bot/package.json
  packages/telegram_bot/src/agent/simple-agent.ts
  pnpm-lock.yaml
  spec/todos/work/2025-10-05-18-53-07-print-daily-briefing-epson/task.md
Due: eslint --fix, prettier --write

feat: integrate auto-print in telegram bot briefings
  packages/printer_service/src/index.ts
  packages/printer_service/tsconfig.json
  packages/telegram_bot/.claude/tmp/latest-briefing.json
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/tsconfig.json
  spec/todos/work/2025-10-05-18-53-07-print-daily-briefing-epson/task.md
  tsconfig.json
Due: eslint --fix, prettier --write

refactor: use marker-based briefing detection and strip emojis
  packages/printer_service/src/cli.ts
  packages/printer_service/src/index.ts
  packages/printer_service/src/printer/briefing_loader.ts
  packages/printer_service/src/printer/formatter.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/constants/briefing.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  spec/todos/work/2025-10-05-18-53-07-print-daily-briefing-epson/task.md
Due: eslint --fix, prettier --write

feat: add user preference for thermal printer output
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/hooks/use_profile.ts
  spec/todos/work/2025-10-05-18-53-07-print-daily-briefing-epson/task.md
Due: eslint --fix, prettier --write

docs: mark printer briefing task as ready for review
  spec/todos/work/2025-10-05-18-53-07-print-daily-briefing-epson/task.md
Due: prettier --write

fix: printer bugs and user preference persistence
  packages/printer_service/src/printer/client.ts
  packages/printer_service/src/printer/formatter.ts
  packages/printer_service/src/utils/config.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  packages/web-api/src/routes/users.ts
  spec/todos/work/2025-10-05-18-53-07-print-daily-briefing-epson/task.md
Due: eslint --fix, prettier --write

refactor: improve printer reliability and emoji handling
  packages/printer_service/src/printer/client.ts
  packages/printer_service/src/printer/formatter.ts
  spec/todos/work/2025-10-05-18-53-07-print-daily-briefing-epson/task.md
Due: eslint --fix, prettier --write

docs: mark printer briefing task complete with changeset
  .changeset/printer-daily-briefing.md
  spec/todos/done/2025-10-05-18-53-07-print-daily-briefing-epson.md
Due: prettier --write

feat: Add thermal printer support for daily briefings (#195)
  .changeset/printer-daily-briefing.md
  .env.example
  package.json
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/printer_service/.gitignore
  packages/printer_service/package.json
  packages/printer_service/src/cli.ts
  packages/printer_service/src/index.ts
  packages/printer_service/src/printer/client.ts
  packages/printer_service/src/printer/formatter.ts
  packages/printer_service/src/utils/config.ts
  packages/printer_service/tsconfig.json
  packages/telegram_bot/.claude/tmp/latest-briefing.json
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/constants/briefing.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  packages/web-api/src/routes/users.ts
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/hooks/use_profile.ts
  pnpm-lock.yaml
  spec/todos/done/2025-10-05-18-53-07-print-daily-briefing-epson.md
  tsconfig.json
Due: eslint --fix, prettier --write

chore: remove temp briefing file from version control
  packages/telegram_bot/.claude/tmp/latest-briefing.json
Due: prettier --write

chore: remove temp briefing json file
  packages/telegram_bot/.claude/tmp/latest-briefing.json
Due: prettier --write

docs: add task spec for gtd:calendar briefing fix
  spec/todos/work/2025-10-06-12-05-32-fix-gtd-calendar-daily-briefing/task.md
Due: prettier --write

feat: add gtd:calendar query to daily briefing
  packages/telegram_bot/src/constants/briefing.ts
  spec/todos/work/2025-10-06-12-05-32-fix-gtd-calendar-daily-briefing/task.md
Due: eslint --fix, prettier --write

docs: complete gtd:calendar briefing task
  spec/todos/done/2025-10-06-12-05-32-fix-gtd-calendar-daily-briefing.md
Due: prettier --write

chore: add changeset for gtd:calendar briefing fix
  .changeset/fix-gtd-calendar-briefing.md
Due: prettier --write

feat: add gtd:calendar query to daily briefing (#206)
  .changeset/fix-gtd-calendar-briefing.md
  packages/telegram_bot/src/constants/briefing.ts
  spec/todos/done/2025-10-06-12-05-32-fix-gtd-calendar-daily-briefing.md
Due: eslint --fix, prettier --write

update todo.md
  spec/todo.md
Due: prettier --write

chore: remove completed task spec from work directory
  spec/todos/work/2025-10-06-12-05-32-fix-gtd-calendar-daily-briefing/task.md
Due: prettier --write

docs: add task spec for hover-only icon visibility
  spec/todos/work/2025-10-08-15-15-00-show-icons-only-on-hover/task.md
Due: prettier --write

feat: show todo icons only on hover with transitions
  packages/web-client/src/components/todo_list_element.tsx
  spec/todos/work/2025-10-08-15-15-00-show-icons-only-on-hover/task.md
Due: eslint --fix, prettier --write

chore: add changeset and complete hover icon task
  .changeset/show-icons-only-on-hover.md
  spec/todos/done/2025-10-08-15-15-00-show-icons-only-on-hover.md
Due: prettier --write

feat: show todo icons only on hover with transitions (#207)
  .changeset/show-icons-only-on-hover.md
  packages/web-client/src/components/todo_list_element.tsx
  spec/todos/done/2025-10-08-15-15-00-show-icons-only-on-hover.md
  spec/todos/work/2025-10-06-12-05-32-fix-gtd-calendar-daily-briefing/task.md
Due: eslint --fix, prettier --write

fix: selector overwrite bug and registration defaults
  packages/mcp_server/src/mcp-server.ts
  packages/web-api/src/routes/auth.ts
Due: eslint --fix, prettier --write

docs: complete /briefing recap task and add follow-ups
  spec/todo.md
  spec/todos/done/2025-10-08-17-29-02-briefing-recap-command.md
Due: prettier --write

docs: update recap command task with completed items
  spec/todos/work/2025-10-08-17-29-02-briefing-recap-command/task.md
Due: prettier --write

docs: improve recap prompt formatting and user test progress
  packages/telegram_bot/src/constants/briefing.ts
  spec/todos/work/2025-10-08-17-29-02-briefing-recap-command/task.md
Due: eslint --fix, prettier --write

feat: enhance recap with dynamic dates and print headers
  packages/printer_service/src/printer/client.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/bot/commands/briefing.ts
  packages/telegram_bot/src/constants/briefing.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  spec/todos/work/2025-10-08-17-29-02-briefing-recap-command/task.md
Due: eslint --fix, prettier --write

feat: add daily recap preferences to web ui
  packages/web-api/src/routes/auth.ts
  packages/web-api/src/routes/users.ts
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/hooks/use_profile.ts
  spec/todos/work/2025-10-08-17-29-02-briefing-recap-command/task.md
Due: eslint --fix, prettier --write

feat: add /briefing recap command for daily task summary
  packages/core-shared/src/api/database-structures.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/mcp_server/src/integration-tests/setup/global-test-user.ts
  packages/mcp_server/src/integration-tests/setup/global.ts
  packages/mcp_server/src/integration-tests/suites/filtering-queries.test.ts
  packages/mcp_server/src/mcp-server.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/bot/commands/briefing.ts
  packages/telegram_bot/src/bot/middleware/auth.test.ts
  packages/telegram_bot/src/constants/briefing.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  spec/todos/work/2025-10-08-17-29-02-briefing-recap-command/task.md
Due: eslint --fix, prettier --write

docs: add task spec for /briefing recap command
  spec/todos/work/2025-10-08-17-29-02-briefing-recap-command/task.md
Due: prettier --write

feat: add daily briefing recap command with user preferences (#222)
  packages/core-shared/src/api/database-structures.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/mcp_server/src/integration-tests/setup/global-test-user.ts
  packages/mcp_server/src/integration-tests/setup/global.ts
  packages/mcp_server/src/integration-tests/suites/filtering-queries.test.ts
  packages/mcp_server/src/mcp-server.ts
  packages/printer_service/src/printer/client.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/bot/commands/briefing.ts
  packages/telegram_bot/src/bot/middleware/auth.test.ts
  packages/telegram_bot/src/constants/briefing.ts
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  packages/web-api/src/routes/auth.ts
  packages/web-api/src/routes/users.ts
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/hooks/use_profile.ts
  spec/todo.md
  spec/todos/done/2025-10-08-17-29-02-briefing-recap-command.md
Due: eslint --fix, prettier --write

tweak CLAUDE.md
  CLAUDE.md
  eslint.config.js
  prettier.config.cjs
  spec/todo.md
  spec/todos/work/2025-12-18-10-39-41-check-claude-md-consistency/task.md
  tsconfig.json
  vitest.config.ts
Due: prettier --write

ci: use frozen lockfile to ensure consistent deps
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: none

ci: upgrade pnpm to v10 for lockfile compatibility
  .github/workflows/quality.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none
