Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{ts,js}": ["prettier --write"],
  "packages/**/*.{json,md}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"],
  ".changeset/*.md": ["tsx scripts/lint-changesets.ts"]
}

chore(changelog): add changeset for graphviz layout
  .changeset/dependency-graph-graphviz-server-layout.md
Due: prettier --write, tsx scripts/lint-changesets.ts

fix(deps): deduplicate undici in pnpm lockfile
  pnpm-lock.yaml
Due: none

feat: add persisted time-tracking filter to todo views
  README.md
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/ui-preferences.ts
  packages/core-shared/src/versions/user_registry_alpha2.test.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-client/src/components/time_tracking_filter.tsx
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/components/todo_board_helpers.ts
  packages/web-client/src/components/todo_filters.test.tsx
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/components/todo_filters_row.tsx
  packages/web-client/src/components/todo_filters_types.ts
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_data.ts
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/components/todo_table_data.ts
  packages/web-client/src/components/todo_table_data_helpers.ts
  packages/web-client/src/components/todo_table_helpers.test.ts
  packages/web-client/src/components/todo_table_helpers.ts
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_filter_preferences.test.ts
  packages/web-client/src/hooks/use_filter_preferences.ts
  packages/web-client/src/hooks/use_filter_preferences_helpers.ts
  packages/web-client/src/hooks/use_filter_presets.test.ts
  packages/web-client/src/hooks/use_filter_presets_helpers.ts
  packages/web-client/src/hooks/use_profile_types.ts
Due: eslint --fix, prettier --write

chore: add changeset for time-tracking filter
  .changeset/time-tracking-filter-persistence.md
Due: prettier --write, tsx scripts/lint-changesets.ts

feat: add persisted time-tracking filter (#525)
  .changeset/time-tracking-filter-persistence.md
  README.md
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/ui-preferences.ts
  packages/core-shared/src/versions/user_registry_alpha2.test.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-client/src/components/time_tracking_filter.tsx
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/components/todo_board_helpers.ts
  packages/web-client/src/components/todo_filters.test.tsx
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/components/todo_filters_row.tsx
  packages/web-client/src/components/todo_filters_types.ts
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_data.ts
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/components/todo_table_data.ts
  packages/web-client/src/components/todo_table_data_helpers.ts
  packages/web-client/src/components/todo_table_helpers.test.ts
  packages/web-client/src/components/todo_table_helpers.ts
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_filter_preferences.test.ts
  packages/web-client/src/hooks/use_filter_preferences.ts
  packages/web-client/src/hooks/use_filter_preferences_helpers.ts
  packages/web-client/src/hooks/use_filter_presets.test.ts
  packages/web-client/src/hooks/use_filter_presets_helpers.ts
  packages/web-client/src/hooks/use_profile_types.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix(config): pin read-yaml-file to 2.1.0 for changesets compatibility
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(telegram-bot): route Claude calls through pi-ai
  packages/telegram_bot/package.json
  packages/telegram_bot/src/ai/claude.test.ts
  packages/telegram_bot/src/ai/claude.ts
  packages/telegram_bot/src/integration-tests/vcr/cached-claude-service.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(telegram-bot): replace Claude with LLM service
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/ai/llm-service.test.ts
  packages/telegram_bot/src/ai/llm-service.ts
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/telegram_bot/src/integration-tests/vcr/cached-llm-service.ts
  packages/telegram_bot/src/integration-tests/vcr/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(telegram-bot): support OAuth token for Anthropic
  packages/telegram_bot/src/ai/llm-service.test.ts
  packages/telegram_bot/src/ai/llm-service.ts
  packages/telegram_bot/src/integration-tests/README.md
  packages/telegram_bot/src/integration-tests/vcr/cached-llm-service.ts
  packages/telegram_bot/src/utils/config.test.ts
  packages/telegram_bot/src/utils/config.ts
Due: eslint --fix, prettier --write

feat(telegram-bot): support provider-prefixed LLMs
  .env.example
  CLAUDE.md
  DEVELOPMENT.md
  README.md
  packages/core-server/src/api/audit-database.test.ts
  packages/core-server/src/config/env.ts
  packages/setup/src/env.ts
  packages/telegram_bot/README.md
  packages/telegram_bot/src/ai/llm-model-resolution.ts
  packages/telegram_bot/src/ai/llm-service.test.ts
  packages/telegram_bot/src/ai/llm-service.ts
  packages/telegram_bot/src/integration-tests/README.md
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
  packages/telegram_bot/src/integration-tests/vcr/cached-llm-service.ts
  packages/telegram_bot/src/utils/config.test.ts
  packages/telegram_bot/src/utils/config.ts
Due: eslint --fix, prettier --write

test(telegram-bot): add multi-model VCR playback
  .github/workflows/test.yml
  CLAUDE.md
  package.json
  packages/telegram_bot/src/agent/helpers/response-parser.test.ts
  packages/telegram_bot/src/agent/helpers/response-parser.ts
  packages/telegram_bot/src/ai/llm-options.test.ts
  packages/telegram_bot/src/ai/llm-options.ts
  packages/telegram_bot/src/ai/llm-service.ts
  packages/telegram_bot/src/integration-tests/README.md
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
  packages/telegram_bot/src/integration-tests/vcr/cached-llm-service.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-helpers.test.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-helpers.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-manager.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-types.ts
  scripts/run-telegram-bot-vcr-playback-tests.ts
Due: eslint --fix, prettier --write

chore(deps): migrate pi-ai and pnpm settings
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/setup-e2e.yml
  .github/workflows/test.yml
  package.json
  packages/telegram_bot/package.json
  packages/telegram_bot/src/ai/llm-model-resolution.ts
  packages/telegram_bot/src/ai/llm-options.test.ts
  packages/telegram_bot/src/ai/llm-options.ts
  packages/telegram_bot/src/ai/llm-service.test.ts
  packages/telegram_bot/src/ai/llm-service.ts
  packages/telegram_bot/src/integration-tests/vcr/cached-llm-service.ts
  packages/telegram_bot/src/utils/config.test.ts
  packages/telegram_bot/src/utils/config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

chore: add changesets for pi-ai updates
  .changeset/earendil-pi-ai-pnpm-config.md
  .changeset/telegram-bot-pi-ai-provider-support.md
Due: prettier --write, tsx scripts/lint-changesets.ts

ci: ignore patched GHSA in audit workflow
  .github/workflows/security.yml
  pnpm-workspace.yaml
Due: none

test: avoid blocking setup e2e commands
  scripts/__tests__/e2e/setup.e2e.test.ts
Due: eslint --fix, prettier --write

ci: fix bundle chunk name detection
  .github/workflows/test.yml
Due: none

ci: move bundle size check to script
  .github/workflows/test.yml
  scripts/check-bundle-size.js
Due: eslint --fix, prettier --write

test: stabilize telegram VCR cassettes
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/setup/vcr-env-setup.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-helpers.test.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-helpers.ts
  packages/telegram_bot/src/utils/config.ts
Due: eslint --fix, prettier --write

chore(deps): migrate pi-ai and pnpm settings (#602)
  .changeset/earendil-pi-ai-pnpm-config.md
  .changeset/telegram-bot-pi-ai-provider-support.md
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/setup-e2e.yml
  .github/workflows/test.yml
  package.json
  packages/telegram_bot/package.json
  packages/telegram_bot/src/ai/llm-model-resolution.ts
  packages/telegram_bot/src/ai/llm-options.test.ts
  packages/telegram_bot/src/ai/llm-options.ts
  packages/telegram_bot/src/ai/llm-service.test.ts
  packages/telegram_bot/src/ai/llm-service.ts
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/setup/vcr-env-setup.ts
  packages/telegram_bot/src/integration-tests/vcr/cached-llm-service.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-helpers.test.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-helpers.ts
  packages/telegram_bot/src/utils/config.test.ts
  packages/telegram_bot/src/utils/config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/__tests__/e2e/setup.e2e.test.ts
  scripts/check-bundle-size.js
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: persist assistant chat history
  packages/core-server/src/api/assistant-conversation-database.ts
  packages/core-server/src/api/assistant-conversation-design-docs.ts
  packages/core-server/src/index.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/assistant-conversation.ts
  packages/telegram_bot/README.md
  packages/telegram_bot/src/agent/agent-session-state.ts
  packages/telegram_bot/src/agent/chat-history-store.test.ts
  packages/telegram_bot/src/agent/chat-history-store.ts
  packages/telegram_bot/src/agent/helpers/types.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/agent/typing-indicator.ts
  packages/telegram_bot/src/ai/llm-options.test.ts
  packages/telegram_bot/src/ai/llm-options.ts
  packages/telegram_bot/src/ai/llm-service.ts
Due: eslint --fix, prettier --write

test: cover assistant history with VCR
  packages/core-server/src/api/assistant-conversation-database.ts
  packages/core-server/src/api/assistant-conversation-design-docs.ts
  packages/core-shared/src/types/assistant-conversation.ts
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/persistent-chat-history.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/persistent-chat-history.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
  packages/telegram_bot/src/integration-tests/vcr/cached-llm-service.ts
Due: eslint --fix, prettier --write

test: stabilize history VCR playback
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/persistent-chat-history.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/persistent-chat-history.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
Due: eslint --fix, prettier --write

feat: support fresh assistant conversations
  packages/core-server/src/api/assistant-conversation-database.ts
  packages/core-server/src/api/assistant-conversation-design-docs.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/assistant-conversation.ts
  packages/telegram_bot/src/agent/chat-history-store.test.ts
  packages/telegram_bot/src/agent/chat-history-store.ts
  packages/telegram_bot/src/agent/context-budget.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/bot/commands/new.ts
  packages/telegram_bot/src/bot/commands/start.ts
  packages/telegram_bot/src/index.ts
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
Due: eslint --fix, prettier --write

chore: add assistant history changeset
  .changeset/assistant-chat-history.md
Due: prettier --write, tsx scripts/lint-changesets.ts

feat: persist assistant chat history (#611)
  .changeset/assistant-chat-history.md
  packages/core-server/src/api/assistant-conversation-database.ts
  packages/core-server/src/api/assistant-conversation-design-docs.ts
  packages/core-server/src/index.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/assistant-conversation.ts
  packages/telegram_bot/README.md
  packages/telegram_bot/src/agent/agent-session-state.ts
  packages/telegram_bot/src/agent/chat-history-store.test.ts
  packages/telegram_bot/src/agent/chat-history-store.ts
  packages/telegram_bot/src/agent/context-budget.ts
  packages/telegram_bot/src/agent/helpers/types.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/agent/typing-indicator.ts
  packages/telegram_bot/src/ai/llm-options.test.ts
  packages/telegram_bot/src/ai/llm-options.ts
  packages/telegram_bot/src/ai/llm-service.ts
  packages/telegram_bot/src/bot/commands/new.ts
  packages/telegram_bot/src/bot/commands/start.ts
  packages/telegram_bot/src/index.ts
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/persistent-chat-history.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/persistent-chat-history.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
  packages/telegram_bot/src/integration-tests/vcr/cached-llm-service.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: use UTC day ranges for briefing recap
  .changeset/fix-recap-utc-date-ranges.md
  packages/mcp_server/src/tools/date-range.test.ts
  packages/mcp_server/src/tools/date-range.ts
  packages/mcp_server/src/tools/get-briefing-data.ts
  packages/mcp_server/src/tools/get-recap-data.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: use UTC day ranges for briefing recap (#612)
  .changeset/fix-recap-utc-date-ranges.md
  packages/mcp_server/src/tools/date-range.test.ts
  packages/mcp_server/src/tools/date-range.ts
  packages/mcp_server/src/tools/get-briefing-data.ts
  packages/mcp_server/src/tools/get-recap-data.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: update Zod v4 validation APIs
  packages/printer_service/src/utils/config.ts
  packages/web-api/src/chat/chat-route-handlers.ts
  packages/web-api/src/routes/audit-log.ts
  packages/web-api/src/routes/search-handlers.ts
Due: eslint --fix, prettier --write

test: update Zod v4 error expectation
  packages/mcp_server/src/integration-tests/suites/analytics.test.ts
Due: eslint --fix, prettier --write

fix: align React package versions
  package.json
  packages/web-client/package.json
  pnpm-lock.yaml
Due: prettier --write

style: format Tailwind CSS directives
  packages/web-client/src/eddo.css
Due: none

fix: rerun visible todo migration by range
  packages/web-client/src/components/todo_board_state.ts
Due: eslint --fix, prettier --write

fix: show scheduled time in todo table
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table_editable_cells.tsx
  packages/web-client/src/test-utils.tsx
Due: eslint --fix, prettier --write

feat: edit scheduled time in todo table
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table_edit_hooks.ts
  packages/web-client/src/components/todo_table_editable_cells.tsx
  packages/web-client/src/components/todo_table_title_cell.tsx
Due: eslint --fix, prettier --write

fix: avoid regex for scheduled time parsing
  packages/core-server/src/versions/migrate.test.ts
  packages/core-shared/src/versions/todo_alpha4.ts
Due: eslint --fix, prettier --write

fix: handle alpha4 date filtering in MCP
  packages/core-shared/src/versions/todo_alpha4.ts
  packages/mcp_server/src/integration-tests/helpers/mcp-assertions.ts
  packages/mcp_server/src/integration-tests/suites/briefing-recap.test.ts
  packages/mcp_server/src/integration-tests/suites/crud-lifecycle.test.ts
  packages/mcp_server/src/tools/get-recap-data.ts
  packages/mcp_server/src/tools/list-todos.ts
Due: eslint --fix, prettier --write

test: update agent loop cassettes
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/persistent-chat-history.json
  packages/telegram_bot/src/integration-tests/cassettes/claude-sonnet-4-5-20250929/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/persistent-chat-history.json
  packages/telegram_bot/src/integration-tests/cassettes/openai_gpt-5_2/status-message-pattern.json
Due: prettier --write

chore: add todo scheduling changeset
  .changeset/todo-alpha4-scheduling.md
Due: prettier --write, tsx scripts/lint-changesets.ts
