Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{ts,js}": ["prettier --write"],
  "packages/**/*.{json,md}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"],
  ".changeset/*.md": ["tsx scripts/lint-changesets.ts"]
}

feat: wire up audited mutations to web client components
  packages/web-client/src/components/add_todo.test.tsx
  packages/web-client/src/components/add_todo.tsx
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/components/due_date_popover.tsx
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/tags_popover.test.tsx
  packages/web-client/src/components/tags_popover.tsx
  packages/web-client/src/components/todo_edit_flyout.test.tsx
  packages/web-client/src/components/todo_edit_flyout.tsx
  packages/web-client/src/components/todo_list_element.test.tsx
  packages/web-client/src/components/todo_list_element.tsx
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table_row.tsx
  packages/web-client/src/hooks/use_todo_flyout_state.ts
Due: eslint --fix, prettier --write

chore: add changeset for audit log feature
  .changeset/audit-log-system.md
Due: prettier --write, tsx scripts/lint-changesets.ts

feat: notes
  .changeset/add-notes-feature.md
  packages/core-client/src/index.ts
  packages/core-server/src/index.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/versions/todo_alpha3.ts
  packages/mcp_server/src/tools/index.ts
  packages/mcp_server/src/tools/note-tools.test.ts
  packages/mcp_server/src/tools/note-tools.ts
  packages/mcp_server/src/tools/register-tools.ts
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_notes_field.tsx
  packages/web-client/src/components/todo_view_fields.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

test: update cassettes
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/status-message-pattern.json
Due: prettier --write

feat: Add notes feature to todos (#407)
  .changeset/add-notes-feature.md
  packages/core-client/src/index.ts
  packages/core-server/src/index.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/versions/todo_alpha3.ts
  packages/mcp_server/src/tools/index.ts
  packages/mcp_server/src/tools/note-tools.test.ts
  packages/mcp_server/src/tools/note-tools.ts
  packages/mcp_server/src/tools/register-tools.ts
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/status-message-pattern.json
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_notes_field.tsx
  packages/web-client/src/components/todo_view_fields.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: flyout nesting
  .changeset/fix-todo-flyout-html-nesting.md
  packages/web-client/src/components/todo_flyout.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: use createPortal for TodoFlyout to fix invalid HTML nesting (#409)
  .changeset/fix-todo-flyout-html-nesting.md
  packages/web-client/src/components/todo_flyout.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: time tracking filter in table column
  .changeset/fix-time-tracked-column-range.md
  packages/core-client/src/index.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/utils/get_active_duration.test.ts
  packages/core-shared/src/utils/get_active_duration.ts
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/components/todo_table_row.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: audit sidebar item limit
  .changeset/activity-sidebar-max-items.md
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/hooks/use_audit_log_data.tsx
  packages/web-client/src/hooks/use_audit_log_stream.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: Time Tracked column shows duration within selected time range (#411)
  .changeset/fix-time-tracked-column-range.md
  packages/core-client/src/index.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/utils/get_active_duration.test.ts
  packages/core-shared/src/utils/get_active_duration.ts
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/components/todo_table_row.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: audit sidebar item limit (#412)
  .changeset/activity-sidebar-max-items.md
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/hooks/use_audit_log_data.tsx
  packages/web-client/src/hooks/use_audit_log_stream.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

refactor: redesign header with popover-based actions
  .changeset/header-cleanup.md
  packages/web-client/src/components/add_todo.test.tsx
  packages/web-client/src/components/add_todo.tsx
  packages/web-client/src/components/add_todo_popover.test.tsx
  packages/web-client/src/components/add_todo_popover.tsx
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/components/column_picker.test.tsx
  packages/web-client/src/components/column_picker.tsx
  packages/web-client/src/components/database_health_indicator.tsx
  packages/web-client/src/components/health_indicator_popover.test.tsx
  packages/web-client/src/components/health_indicator_popover.tsx
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/components/todo_filters_row.tsx
  packages/web-client/src/components/view_mode_toggle.test.tsx
  packages/web-client/src/components/view_mode_toggle.tsx
  packages/web-client/src/components/view_settings_popover.tsx
  packages/web-client/src/eddo.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

refactor: redesign header with popover-based actions (#413)
  .changeset/header-cleanup.md
  packages/web-client/src/components/add_todo.test.tsx
  packages/web-client/src/components/add_todo.tsx
  packages/web-client/src/components/add_todo_popover.test.tsx
  packages/web-client/src/components/add_todo_popover.tsx
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/components/column_picker.test.tsx
  packages/web-client/src/components/column_picker.tsx
  packages/web-client/src/components/database_health_indicator.tsx
  packages/web-client/src/components/health_indicator_popover.test.tsx
  packages/web-client/src/components/health_indicator_popover.tsx
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/components/todo_filters_row.tsx
  packages/web-client/src/components/view_mode_toggle.test.tsx
  packages/web-client/src/components/view_mode_toggle.tsx
  packages/web-client/src/components/view_settings_popover.tsx
  packages/web-client/src/eddo.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: time tracking totals now correctly sum visible todo durations
  .changeset/fix-time-tracking-totals.md
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/components/todo_table_helpers.test.ts
  packages/web-client/src/components/todo_table_helpers.ts
  packages/web-client/src/components/todo_table_row.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: time tracking totals now correctly sum visible todo durations (#416)
  .changeset/fix-time-tracking-totals.md
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/components/todo_table_helpers.test.ts
  packages/web-client/src/components/todo_table_helpers.ts
  packages/web-client/src/components/todo_table_row.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

chore(deps): add o11y rum packages
  packages/web-client/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(web-client): add client-side RUM with OpenTelemetry browser SDK
  .changeset/add-client-side-rum.md
  .env.example
  CLAUDE.md
  packages/core-server/src/config/env.ts
  packages/web-api/src/index.ts
  packages/web-api/src/routes/telemetry.ts
  packages/web-client/package.json
  packages/web-client/src/client.tsx
  packages/web-client/src/hooks/use_audited_todo_mutations.ts
  packages/web-client/src/hooks/use_auth.tsx
  packages/web-client/src/hooks/use_couchdb_sync.ts
  packages/web-client/src/telemetry/config.ts
  packages/web-client/src/telemetry/hooks.ts
  packages/web-client/src/telemetry/index.ts
  packages/web-client/src/telemetry/spans.ts
  packages/web-client/src/telemetry/tracer.ts
  packages/web-client/src/telemetry/user_context.ts
  packages/web-client/src/vite-env.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-client): add client-side RUM with OpenTelemetry browser SDK (#417)
  .changeset/add-client-side-rum.md
  .env.example
  CLAUDE.md
  packages/core-server/src/config/env.ts
  packages/web-api/src/index.ts
  packages/web-api/src/routes/telemetry.ts
  packages/web-client/package.json
  packages/web-client/src/client.tsx
  packages/web-client/src/hooks/use_audited_todo_mutations.ts
  packages/web-client/src/hooks/use_auth.tsx
  packages/web-client/src/hooks/use_couchdb_sync.ts
  packages/web-client/src/telemetry/config.ts
  packages/web-client/src/telemetry/hooks.ts
  packages/web-client/src/telemetry/index.ts
  packages/web-client/src/telemetry/spans.ts
  packages/web-client/src/telemetry/tracer.ts
  packages/web-client/src/telemetry/user_context.ts
  packages/web-client/src/vite-env.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add optional metadata field to TodoAlpha3 schema
  .changeset/add-metadata-field.md
  CLAUDE.md
  docs/multi-agent-development.md
  packages/core-server/src/versions/migrate.test.ts
  packages/core-shared/src/versions/todo_alpha3.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/web-client/src/components/todo_edit_flyout.test.tsx
  packages/web-client/src/components/todo_edit_flyout.tsx
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_metadata_field.test.tsx
  packages/web-client/src/components/todo_metadata_field.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add optional metadata field to TodoAlpha3 schema (#418)
  .changeset/add-metadata-field.md
  CLAUDE.md
  docs/multi-agent-development.md
  packages/core-server/src/versions/migrate.test.ts
  packages/core-shared/src/versions/todo_alpha3.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/web-client/src/components/todo_edit_flyout.test.tsx
  packages/web-client/src/components/todo_edit_flyout.tsx
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_metadata_field.test.tsx
  packages/web-client/src/components/todo_metadata_field.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: copy-to-clipboard id in table view
  packages/web-client/src/components/todo_table_cell.tsx
Due: eslint --fix, prettier --write

feat: clickable audit entries to open todo flyout
  .changeset/clickable-audit-entries.md
  packages/web-client/src/components/audit_sidebar.test.tsx
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/components/global_todo_flyout.test.tsx
  packages/web-client/src/components/global_todo_flyout.tsx
  packages/web-client/src/eddo.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix(web-client): sort table columns by canonical order
  .changeset/fix-table-column-order.md
  packages/web-client/src/components/view_settings_popover.tsx
  packages/web-client/src/hooks/use_view_preferences.test.ts
  packages/web-client/src/hooks/use_view_preferences.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: jest tests
  packages/web-client/src/components/todo_table.test.tsx
Due: eslint --fix, prettier --write

fix(web-client): sort table columns by canonical order (#421)
  .changeset/fix-table-column-order.md
  packages/web-client/src/components/view_settings_popover.tsx
  packages/web-client/src/hooks/use_view_preferences.test.ts
  packages/web-client/src/hooks/use_view_preferences.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: clickable audit entries to open todo flyout (#420)
  .changeset/clickable-audit-entries.md
  packages/web-client/src/components/audit_sidebar.test.tsx
  packages/web-client/src/components/audit_sidebar.tsx
  packages/web-client/src/components/global_todo_flyout.test.tsx
  packages/web-client/src/components/global_todo_flyout.tsx
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table_cell.tsx
  packages/web-client/src/eddo.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-api): convert HTML emails to markdown with UTF-8
  .changeset/email-html-to-markdown.md
  CLAUDE.md
  packages/web-api/package.json
  packages/web-api/src/email/client.test.ts
  packages/web-api/src/email/client.ts
  packages/web-api/src/email/email-parser.test.ts
  packages/web-api/src/email/email-parser.ts
  packages/web-api/src/turndown-plugin-gfm.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix(web-api): address CodeQL security warnings in HTML stripper
  packages/web-api/src/email/email-parser.ts
Due: eslint --fix, prettier --write

refactor(web-api): remove unused stripHtml fallback function
  packages/web-api/src/email/email-parser.test.ts
  packages/web-api/src/email/email-parser.ts
  packages/web-api/src/email/index.ts
Due: eslint --fix, prettier --write

feat(web-api): convert HTML emails to markdown (#424)
  .changeset/email-html-to-markdown.md
  CLAUDE.md
  packages/web-api/package.json
  packages/web-api/src/email/client.test.ts
  packages/web-api/src/email/client.ts
  packages/web-api/src/email/email-parser.test.ts
  packages/web-api/src/email/email-parser.ts
  packages/web-api/src/email/index.ts
  packages/web-api/src/turndown-plugin-gfm.d.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add optional message field to audit log entries
  .changeset/audit-log-message-field.md
  packages/core-server/src/api/audit-service.ts
  packages/core-shared/src/versions/audit_log_alpha1.test.ts
  packages/core-shared/src/versions/audit_log_alpha1.ts
  packages/mcp_server/src/tools/audit-helper.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/delete-todo.ts
  packages/mcp_server/src/tools/time-tracking.ts
  packages/mcp_server/src/tools/toggle-completion.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/web-api/src/utils/sync-audit.ts
  packages/web-client/src/components/audit_sidebar.test.tsx
  packages/web-client/src/components/audit_sidebar.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add optional message field to audit log entries (#426)
  .changeset/audit-log-message-field.md
  packages/core-server/src/api/audit-service.ts
  packages/core-shared/src/versions/audit_log_alpha1.test.ts
  packages/core-shared/src/versions/audit_log_alpha1.ts
  packages/mcp_server/src/tools/audit-helper.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/delete-todo.ts
  packages/mcp_server/src/tools/time-tracking.ts
  packages/mcp_server/src/tools/toggle-completion.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/web-api/src/utils/sync-audit.ts
  packages/web-client/src/components/audit_sidebar.test.tsx
  packages/web-client/src/components/audit_sidebar.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-client): replace metadata JSON editor with key/value CRUD UI
  .changeset/metadata-ui-crud.md
  packages/web-client/src/components/todo_metadata_field.test.tsx
  packages/web-client/src/components/todo_metadata_field.tsx
  packages/web-client/src/components/todo_metadata_view.tsx
  packages/web-client/src/components/todo_view_fields.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat(web-client): replace metadata JSON editor with key/value CRUD UI (#428)
  .changeset/metadata-ui-crud.md
  packages/web-client/src/components/todo_metadata_field.test.tsx
  packages/web-client/src/components/todo_metadata_field.tsx
  packages/web-client/src/components/todo_metadata_view.tsx
  packages/web-client/src/components/todo_view_fields.tsx
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: wip graph view
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/ui-preferences.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-client/package.json
  packages/web-client/src/components/todo_board_helpers.ts
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_node.tsx
  packages/web-client/src/components/view_settings_popover.tsx
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_force_layout.ts
  packages/web-client/src/hooks/use_profile_types.ts
  packages/web-client/src/hooks/use_view_preferences.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: wip graph view
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_metadata_node.tsx
Due: eslint --fix, prettier --write

feat: wip graph view
  packages/web-client/package.json
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_curved_edge.tsx
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_metadata_node.tsx
  packages/web-client/src/components/todo_graph_node.tsx
  packages/web-client/src/hooks/use_elk_layout.ts
  packages/web-client/src/hooks/use_force_layout.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: node icons
  packages/web-client/src/components/todo_graph_metadata_node.tsx
  packages/web-client/src/components/todo_graph_node.tsx
Due: eslint --fix, prettier --write

feat: layout tweaks
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_metadata_node.tsx
  packages/web-client/src/components/todo_graph_node.tsx
Due: eslint --fix, prettier --write
