Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{ts,js}": ["prettier --write"],
  "packages/**/*.{json,md}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"],
  ".changeset/*.md": ["tsx scripts/lint-changesets.ts"]
}

docs: update README with side-by-side images and demo link
  README.md
Due: prettier --write

fix: tweak teaser img align
  README.md
Due: prettier --write

CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write

tweak CoC
  CODE_OF_CONDUCT.md
Due: prettier --write

Update CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write

feat: create subtasks from todo actions
  packages/web-client/src/components/add_todo_popover.tsx
  packages/web-client/src/components/add_todo_trigger.tsx
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_table_row_actions.tsx
Due: eslint --fix, prettier --write

feat: open subtasks from todo view
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_view_fields.tsx
Due: eslint --fix, prettier --write

feat: open parent todo in flyout
  packages/web-client/src/components/todo_view_fields.tsx
Due: eslint --fix, prettier --write

feat: add self-host docker bundle and deploy
  .github/workflows/docker-publish.yml
  Dockerfile
  README.md
  docker/mcp-server/Dockerfile
  docker/telegram-bot/Dockerfile
  docs/self-host-bundle.md
  package.json
  packages/setup/src/deploy-local.ts
  self-host/.env.example
  self-host/README.md
  self-host/docker-compose.yml
Due: eslint --fix, prettier --write

feat: show due dates in search results
  packages/web-client/src/components/search_popover_content.tsx
Due: eslint --fix, prettier --write

feat: open todo flyout from title and link
  packages/web-client/src/components/todo_blocked_by_view.tsx
  packages/web-client/src/components/todo_list_element.test.tsx
  packages/web-client/src/components/todo_list_element.tsx
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table_columns.tsx
  packages/web-client/src/components/todo_table_row_actions.tsx
Due: eslint --fix, prettier --write

feat: refine todo table timing and actions menu
  packages/web-client/src/components/add_todo_trigger.tsx
  packages/web-client/src/components/todo_table_columns.tsx
  packages/web-client/src/components/todo_table_row_actions.tsx
Due: eslint --fix, prettier --write

feat: open todo flyout in edit mode
  packages/web-client/src/components/global_todo_flyout.tsx
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_list_element.tsx
  packages/web-client/src/components/todo_table_row_actions.tsx
  packages/web-client/src/hooks/use_todo_flyout.tsx
  packages/web-client/src/hooks/use_todo_flyout_state.ts
Due: eslint --fix, prettier --write

feat: add advanced add-todo options and time view
  packages/web-client/src/components/add_todo_popover.test.tsx
  packages/web-client/src/components/add_todo_popover.tsx
  packages/web-client/src/components/add_todo_popover_fields.tsx
  packages/web-client/src/components/add_todo_popover_form.ts
  packages/web-client/src/components/add_todo_popover_state.ts
  packages/web-client/src/components/tag_input.tsx
  packages/web-client/src/components/time_tracking_view.tsx
  packages/web-client/src/components/todo_filters_row.tsx
  packages/web-client/src/components/todo_table_row_actions.tsx
  packages/web-client/src/components/todo_table_row_actions_helpers.ts
  packages/web-client/src/components/todo_view_fields.tsx
Due: eslint --fix, prettier --write

feat: add todo search popovers for links
  packages/web-client/src/components/todo_blocked_by_field.tsx
  packages/web-client/src/components/todo_parent_field.tsx
  packages/web-client/src/components/todo_picker_popover.tsx
Due: eslint --fix, prettier --write

feat: add delete confirmation to todo menu
  packages/web-client/src/components/todo_table_row_actions.tsx
  packages/web-client/src/components/todo_table_row_actions_menu.tsx
Due: eslint --fix, prettier --write

feat: enable inline edits for todo title/due
  packages/web-client/src/components/todo_table_columns.tsx
  packages/web-client/src/components/todo_table_editable_cells.tsx
  packages/web-client/src/components/todo_table_types.ts
Due: eslint --fix, prettier --write

feat: refine add todo shortcut handling
  .changeset/ui-feature-gaps.md
  packages/web-client/src/components/add_todo_popover_state.ts
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/components/todo_filters_row.tsx
  packages/web-client/src/hooks/use_media_query.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: resolve web-client type errors
  packages/web-client/src/components/add_todo_popover_form.ts
  packages/web-client/src/components/todo_picker_popover.tsx
  packages/web-client/src/components/todo_table_columns.tsx
Due: eslint --fix, prettier --write

fix: split add todo popover components
  packages/web-client/src/components/add_todo_popover.tsx
Due: eslint --fix, prettier --write

feat: close todo UI feature gaps (#510)
  .changeset/ui-feature-gaps.md
  packages/web-client/src/components/add_todo_popover.test.tsx
  packages/web-client/src/components/add_todo_popover.tsx
  packages/web-client/src/components/add_todo_popover_fields.tsx
  packages/web-client/src/components/add_todo_popover_form.ts
  packages/web-client/src/components/add_todo_popover_state.ts
  packages/web-client/src/components/add_todo_trigger.tsx
  packages/web-client/src/components/global_todo_flyout.tsx
  packages/web-client/src/components/search_popover_content.tsx
  packages/web-client/src/components/tag_input.tsx
  packages/web-client/src/components/time_tracking_view.tsx
  packages/web-client/src/components/todo_blocked_by_field.tsx
  packages/web-client/src/components/todo_blocked_by_view.tsx
  packages/web-client/src/components/todo_filters.tsx
  packages/web-client/src/components/todo_filters_row.tsx
  packages/web-client/src/components/todo_flyout.tsx
  packages/web-client/src/components/todo_list_element.test.tsx
  packages/web-client/src/components/todo_list_element.tsx
  packages/web-client/src/components/todo_parent_field.tsx
  packages/web-client/src/components/todo_picker_popover.tsx
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table_columns.tsx
  packages/web-client/src/components/todo_table_editable_cells.tsx
  packages/web-client/src/components/todo_table_row_actions.tsx
  packages/web-client/src/components/todo_table_row_actions_helpers.ts
  packages/web-client/src/components/todo_table_row_actions_menu.tsx
  packages/web-client/src/components/todo_table_types.ts
  packages/web-client/src/components/todo_view_fields.tsx
  packages/web-client/src/hooks/use_media_query.ts
  packages/web-client/src/hooks/use_todo_flyout.tsx
  packages/web-client/src/hooks/use_todo_flyout_state.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add MCP API key support
  README.md
  packages/chat-agent/skills/eddo-todo/SKILL.md
  packages/chat-agent/skills/eddo-todo/eddo-todo.js
  packages/chat-agent/skills/eddo-todo/eddo.js
  packages/core-shared/src/versions/user_registry_alpha2.test.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/mcp_server/src/auth/user-auth-helpers.ts
  packages/mcp_server/src/auth/user-auth.ts
  packages/mcp_server/src/integration-tests/setup/global-test-user.ts
  packages/mcp_server/src/integration-tests/setup/test-server.ts
  packages/mcp_server/src/mcp-server.ts
  packages/mcp_server/src/tools/server-info.ts
  packages/telegram_bot/src/agent/helpers/tool-executor.ts
  packages/telegram_bot/src/mcp/connection-manager-helpers.ts
  packages/telegram_bot/src/mcp/connection-manager.ts
  packages/telegram_bot/src/mcp/user-context.ts
  packages/telegram_bot/src/utils/user-lookup.ts
  packages/web-api/src/chat/container-operations.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/components/user_profile_hooks.ts
  packages/web-client/src/components/user_profile_mcp_hooks.ts
  packages/web-client/src/components/user_profile_tab_security.tsx
  packages/web-client/src/components/user_profile_types.ts
  packages/web-client/src/hooks/use_profile_types.ts
  scripts/create-default-user.ts
  scripts/test-mcp-helpers.js
  scripts/test-mcp.js
Due: eslint --fix, prettier --write

feat: add check:commit script and docs
  .husky/pre-commit
  CLAUDE.md
  README.md
  package.json
Due: prettier --write

feat: show MCP API key once with set time
  packages/core-shared/src/versions/user_registry_alpha2.test.ts
  packages/core-shared/src/versions/user_registry_alpha2.ts
  packages/web-api/src/routes/users-helpers.ts
  packages/web-api/src/routes/users-schemas.ts
  packages/web-api/src/routes/users.ts
  packages/web-client/src/components/user_profile.tsx
  packages/web-client/src/components/user_profile_form_state.ts
  packages/web-client/src/components/user_profile_hooks.ts
  packages/web-client/src/components/user_profile_mcp_hooks.ts
  packages/web-client/src/components/user_profile_tab_security.tsx
  packages/web-client/src/components/user_profile_types.ts
  packages/web-client/src/hooks/use_profile.ts
  packages/web-client/src/hooks/use_profile_api.ts
  packages/web-client/src/hooks/use_profile_types.ts
  scripts/create-default-user.ts
Due: eslint --fix, prettier --write

feat: authenticate MCP by API key header
  README.md
  packages/chat-agent/skills/eddo-todo/eddo-todo.js
  packages/core-server/src/api/user-registry-design-docs.ts
  packages/core-server/src/api/user-registry-test.ts
  packages/core-server/src/api/user-registry.ts
  packages/core-shared/src/types/user-registry.ts
  packages/mcp_server/src/auth/user-auth-helpers.ts
  packages/mcp_server/src/auth/user-auth.ts
  packages/mcp_server/src/integration-tests/setup/test-server.ts
  packages/mcp_server/src/mcp-server.ts
  packages/mcp_server/src/tools/search-todos.ts
  packages/mcp_server/src/tools/server-info.ts
  packages/web-api/src/chat/container-operations.ts
  packages/web-api/src/docker/container-utils.ts
  packages/web-api/src/docker/types.ts
  packages/web-client/src/components/chat/assistant-ui/thread.tsx
Due: eslint --fix, prettier --write

feat: add chat reasoning visibility toggle
  packages/web-client/src/components/chat/assistant-ui/thread.tsx
  packages/web-client/src/components/chat/chat_page.tsx
  packages/web-client/src/components/chat/chat_reasoning_preference.ts
  packages/web-client/src/components/chat/chat_settings_popover.tsx
  packages/web-client/src/components/chat/chat_sidebar.tsx
  packages/web-client/src/components/chat/chat_thread.tsx
Due: eslint --fix, prettier --write

chore: add changeset for MCP API key toggle
  .changeset/mcp-api-keys-chat-reasoning-toggle.md
Due: prettier --write, tsx scripts/lint-changesets.ts

chore: mask MCP user id in test output
  scripts/test-mcp.js
Due: eslint --fix, prettier --write

feat: limit tool result payloads
  packages/mcp_server/src/integration-tests/setup/global-test-user.ts
  packages/telegram_bot/src/agent/helpers/tool-executor.ts
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/cassettes/status-message-pattern.json
  packages/telegram_bot/src/integration-tests/setup/test-agent-server-helpers.ts
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  scripts/run-telegram-bot-integration-tests.ts
Due: eslint --fix, prettier --write

feat(web-client): open dependency graph from row menu
  README.md
  packages/web-client/src/components/todo_dependency_graph_helpers.test.ts
  packages/web-client/src/components/todo_dependency_graph_helpers.ts
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph_data.ts
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_node.tsx
  packages/web-client/src/components/todo_graph_themed_nodes.tsx
  packages/web-client/src/components/todo_table.test.tsx
  packages/web-client/src/components/todo_table.tsx
  packages/web-client/src/components/todo_table_child_row.tsx
  packages/web-client/src/components/todo_table_content.tsx
  packages/web-client/src/components/todo_table_context_group.tsx
  packages/web-client/src/components/todo_table_row_actions.tsx
  packages/web-client/src/components/todo_table_row_actions_menu.tsx
  packages/web-client/src/components/todo_table_rows.tsx
Due: eslint --fix, prettier --write

feat(web-client): add dependency canvas theme with ELK
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph/themes/context.tsx
  packages/web-client/src/components/todo_graph/themes/dependency_canvas/background.tsx
  packages/web-client/src/components/todo_graph/themes/dependency_canvas/edge.tsx
  packages/web-client/src/components/todo_graph/themes/dependency_canvas/index.ts
  packages/web-client/src/components/todo_graph/themes/dependency_canvas/legend.tsx
  packages/web-client/src/components/todo_graph/themes/dependency_canvas/nodes.tsx
  packages/web-client/src/components/todo_graph/themes/index.test.ts
  packages/web-client/src/components/todo_graph/themes/index.ts
  packages/web-client/src/components/todo_graph/themes/types.ts
  packages/web-client/src/components/todo_graph_helpers.test.ts
  packages/web-client/src/components/todo_graph_helpers.ts
  packages/web-client/src/components/todo_graph_node.tsx
  packages/web-client/src/components/todo_graph_renderer.tsx
  packages/web-client/src/components/todo_graph_themed_edge.tsx
  packages/web-client/src/components/todo_graph_themed_nodes.tsx
  packages/web-client/src/hooks/use_elk_layout.ts
Due: eslint --fix, prettier --write

feat(web-client): use radial ELK for dependency graph
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph/themes/dependency_canvas/index.ts
  packages/web-client/src/components/todo_graph/themes/index.test.ts
  packages/web-client/src/components/todo_graph/themes/types.ts
  packages/web-client/src/components/todo_graph_data.test.ts
  packages/web-client/src/components/todo_graph_data.ts
  packages/web-client/src/components/todo_graph_layout_content.tsx
  packages/web-client/src/hooks/use_elk_layout.ts
Due: eslint --fix, prettier --write

fix(web-client): improve dependency ELK root/edge layout
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph/themes/dependency_canvas/index.ts
  packages/web-client/src/components/todo_graph/themes/index.test.ts
  packages/web-client/src/components/todo_graph_data.ts
  packages/web-client/src/components/todo_graph_layout_content.tsx
  packages/web-client/src/hooks/elk_layout_config.ts
  packages/web-client/src/hooks/elk_radial_tree.test.ts
  packages/web-client/src/hooks/elk_radial_tree.ts
  packages/web-client/src/hooks/use_elk_layout.ts
Due: eslint --fix, prettier --write

fix(web-client): simplify ELK dependency layout config
  packages/web-client/src/hooks/elk_layout_config.ts
  packages/web-client/src/hooks/use_elk_layout.ts
Due: eslint --fix, prettier --write

feat(web-client): switch dependency canvas to Graphviz
  README.md
  packages/web-client/package.json
  packages/web-client/src/components/todo_graph/themes/dependency_canvas/index.ts
  packages/web-client/src/components/todo_graph/themes/index.test.ts
  packages/web-client/src/components/todo_graph/themes/types.ts
  packages/web-client/src/components/todo_graph_layout_content.tsx
  packages/web-client/src/hooks/elk_layout_config.ts
  packages/web-client/src/hooks/graphviz_layout_helpers.test.ts
  packages/web-client/src/hooks/graphviz_layout_helpers.ts
  packages/web-client/src/hooks/use_graphviz_layout.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(web-client): refine graphviz edge routing and staggering
  packages/web-client/src/components/todo_graph/themes/dependency_canvas/edge.tsx
  packages/web-client/src/hooks/graphviz_layout_helpers.test.ts
  packages/web-client/src/hooks/graphviz_layout_helpers.ts
  packages/web-client/src/hooks/graphviz_stagger.test.ts
  packages/web-client/src/hooks/graphviz_stagger.ts
  packages/web-client/src/hooks/use_graphviz_layout.ts
Due: eslint --fix, prettier --write

refactor(web-client): remove ELK layout path and deps
  packages/web-client/package.json
  packages/web-client/src/components/todo_graph/themes/types.ts
  packages/web-client/src/components/todo_graph_layout_content.tsx
  packages/web-client/src/hooks/use_elk_layout.ts
  packages/web-client/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat: move Graphviz layout rendering to web-api route
  packages/web-api/package.json
  packages/web-api/src/index.ts
  packages/web-api/src/routes/graphviz-layout.ts
  packages/web-client/package.json
  packages/web-client/src/hooks/use_graphviz_layout.ts
  packages/web-client/vite.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write
