Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: move barrel exports task from todo to work
  spec/todo.md
  spec/todos/work/2025-10-01-14-23-16-prohibit-barrel-exports/task.md
Due: prettier --write

feat: add eslint rule to prohibit wildcard exports
  eslint.config.js
  spec/todos/work/2025-10-01-14-23-16-prohibit-barrel-exports/task.md
Due: prettier --write

refactor: replace wildcard exports in config modules
  packages/core-client/src/config/index.ts
  packages/core-server/src/config/index.ts
  spec/todos/work/2025-10-01-14-23-16-prohibit-barrel-exports/task.md
Due: eslint --fix, prettier --write

refactor: eliminate all wildcard exports from packages
  packages/core-client/src/index.ts
  packages/core-server/src/index.ts
  packages/core-shared/src/index.ts
  spec/todos/work/2025-10-01-14-23-16-prohibit-barrel-exports/task.md
Due: eslint --fix, prettier --write

docs: add changeset and mark barrel exports task done
  .changeset/prohibit-barrel-exports.md
  spec/todos/done/2025-10-01-14-23-16-prohibit-barrel-exports.md
  spec/todos/work/2025-10-01-14-23-16-prohibit-barrel-exports/task.md
Due: prettier --write

refactor: prohibit barrel exports and convert to explicit named exports (#188)
  .changeset/prohibit-barrel-exports.md
  eslint.config.js
  packages/core-client/src/config/index.ts
  packages/core-client/src/index.ts
  packages/core-server/src/config/index.ts
  packages/core-server/src/index.ts
  packages/core-shared/src/index.ts
  spec/todo.md
  spec/todos/done/2025-10-01-14-23-16-prohibit-barrel-exports.md
Due: eslint --fix, prettier --write

docs: create task for import formatting best practices
  spec/todos/work/2025-10-01-16-53-25-import-formatting-best-practice/task.md
Due: prettier --write

refactor: enforce explicit named imports across codebase
  package.json
  packages/core-client/src/config/index.ts
  packages/core-client/src/index.ts
  packages/core-server/src/api/user-registry.ts
  packages/core-server/src/config/index.ts
  packages/core-server/src/index.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/user-registry.ts
  packages/mcp_server/src/integration-tests/suites/analytics.test.ts
  packages/mcp_server/src/integration-tests/suites/crud-lifecycle.test.ts
  packages/mcp_server/src/integration-tests/suites/filtering-queries.test.ts
  packages/mcp_server/src/integration-tests/suites/time-tracking.test.ts
  packages/mcp_server/src/integration-tests/suites/workflow-integration.test.ts
  packages/telegram_bot/src/agent/index.ts
  packages/telegram_bot/src/bot/middleware/auth.ts
  packages/telegram_bot/src/mcp/client.ts
  packages/web-client/src/components/add_todo.tsx
  packages/web-client/src/components/database_error_fallback.tsx
  packages/web-client/src/components/database_error_message.tsx
  packages/web-client/src/components/database_health_indicator.tsx
  packages/web-client/src/components/todo_edit_modal.tsx
  packages/web-client/src/components/todo_list_element.tsx
  packages/web-client/src/hooks/use_database_health.test.tsx
  packages/web-client/src/pouch_db.test.tsx
  pnpm-lock.yaml
  prettier.config.cjs
  spec/todos/work/2025-10-01-16-53-25-import-formatting-best-practice/task.md
Due: eslint --fix, prettier --write

docs: mark import formatting task as complete
  spec/todos/done/2025-10-01-16-53-25-import-formatting-best-practice.md
  spec/todos/work/2025-10-01-16-53-25-import-formatting-best-practice/task.md
Due: prettier --write

chore: add changeset for import formatting migration
  .changeset/import-formatting.md
Due: prettier --write

Migrate to prettier-plugin-organize-imports for import formatting (#189)
  .changeset/import-formatting.md
  package.json
  packages/core-client/src/config/index.ts
  packages/core-client/src/index.ts
  packages/core-server/src/api/user-registry.ts
  packages/core-server/src/config/index.ts
  packages/core-server/src/index.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/types/user-registry.ts
  packages/mcp_server/src/integration-tests/suites/analytics.test.ts
  packages/mcp_server/src/integration-tests/suites/crud-lifecycle.test.ts
  packages/mcp_server/src/integration-tests/suites/filtering-queries.test.ts
  packages/mcp_server/src/integration-tests/suites/time-tracking.test.ts
  packages/mcp_server/src/integration-tests/suites/workflow-integration.test.ts
  packages/telegram_bot/src/agent/index.ts
  packages/telegram_bot/src/bot/middleware/auth.ts
  packages/telegram_bot/src/mcp/client.ts
  packages/web-client/src/components/add_todo.tsx
  packages/web-client/src/components/database_error_fallback.tsx
  packages/web-client/src/components/database_error_message.tsx
  packages/web-client/src/components/database_health_indicator.tsx
  packages/web-client/src/components/todo_edit_modal.tsx
  packages/web-client/src/components/todo_list_element.tsx
  packages/web-client/src/hooks/use_database_health.test.tsx
  packages/web-client/src/pouch_db.test.tsx
  pnpm-lock.yaml
  prettier.config.cjs
  spec/todos/done/2025-10-01-16-53-25-import-formatting-best-practice.md
Due: eslint --fix, prettier --write

docs: create task for couchdb sync performance optimization
  spec/couchdb-sync-performance-issue.md
  spec/todos/work/2025-10-01-18-06-27-improve-couchdb-sync-performance/task.md
Due: prettier --write

perf: optimize couchdb sync with reduced batch size and limits
  packages/web-client/src/hooks/use_couchdb_sync.ts
  packages/web-client/src/pouch_db.ts
Due: eslint --fix, prettier --write

perf: add index pre-warming and prevent stale fetches
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/hooks/use_couchdb_sync.ts
Due: eslint --fix, prettier --write

docs: update sync performance task progress
  spec/todos/work/2025-10-01-18-06-27-improve-couchdb-sync-performance/task.md
Due: prettier --write

fix: move index pre-warming to paused event for live sync
  packages/web-client/src/hooks/use_couchdb_sync.ts
  spec/todos/work/2025-10-01-18-06-27-improve-couchdb-sync-performance/task.md
Due: eslint --fix, prettier --write

fix: prevent memory leak and race condition in sync cleanup
  packages/web-client/src/hooks/use_couchdb_sync.ts
  spec/todos/done/2025-10-01-18-06-27-improve-couchdb-sync-performance.md
Due: eslint --fix, prettier --write

chore: add changeset for couchdb sync optimization
  .changeset/optimize-couchdb-sync.md
Due: prettier --write

Optimize CouchDB sync performance and fix memory issues (#190)
  .changeset/optimize-couchdb-sync.md
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/hooks/use_couchdb_sync.ts
  packages/web-client/src/pouch_db.ts
  spec/couchdb-sync-performance-issue.md
  spec/todos/done/2025-10-01-18-06-27-improve-couchdb-sync-performance.md
Due: eslint --fix, prettier --write

feat: integrate tanstack query for data caching layer
  packages/web-client/package.json
  packages/web-client/src/config/query_client.ts
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_database_changes.tsx
  packages/web-client/src/hooks/use_todos_by_week.ts
  pnpm-lock.yaml
  spec/todos/work/2025-10-01-20-27-41-add-tanstack-query/task.md
Due: eslint --fix, prettier --write

docs: create task for tanstack query integration
  spec/todos/work/2025-10-01-20-27-41-add-tanstack-query/task.md
Due: prettier --write

refactor: simplify todo_board query logic with tanstack
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_database_changes.tsx
  packages/web-client/src/hooks/use_todos_by_week.ts
  packages/web-client/src/test-utils.tsx
  spec/todos/work/2025-10-01-20-27-41-add-tanstack-query/task.md
Due: eslint --fix, prettier --write

fix: prevent infinite loop in todo_board outdated todos
  packages/web-client/src/components/todo_board.tsx
Due: eslint --fix, prettier --write

docs: add changeset and mark tanstack query task done
  .changeset/tanstack-query-integration.md
  spec/todos/done/2025-10-01-20-27-41-add-tanstack-query.md
Due: prettier --write

feat: add enabled option to query hooks
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
Due: eslint --fix, prettier --write

chore: move commitizen config to .czrc file
  .czrc
  package.json
Due: prettier --write

perf: memoize activities and filtered activities
  packages/web-client/src/components/todo_board.tsx
Due: eslint --fix, prettier --write

Add TanStack Query for data caching and state management (#191)
  .changeset/tanstack-query-integration.md
  .czrc
  package.json
  packages/web-client/package.json
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/config/query_client.ts
  packages/web-client/src/eddo.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_database_changes.tsx
  packages/web-client/src/hooks/use_todos_by_week.ts
  packages/web-client/src/test-utils.tsx
  pnpm-lock.yaml
  spec/todos/done/2025-10-01-20-27-41-add-tanstack-query.md
Due: eslint --fix, prettier --write

docs: add task for consolidating db setup code
  spec/todos/work/2025-10-02-10-39-03-consolidate-db-setup/task.md
Due: prettier --write

refactor: consolidate db setup code into shared module
  packages/core-shared/src/api/database-structures.ts
  packages/core-shared/src/index.ts
  packages/web-api/src/utils/setup-user-db.ts
  packages/web-client/src/database_setup.ts
  spec/todos/work/2025-10-02-10-39-03-consolidate-db-setup/task.md
Due: eslint --fix, prettier --write

chore: add changeset for db consolidation refactor
  .changeset/consolidate-database-structures.md
  packages/web-api/package.json
  packages/web-client/package.json
  spec/todos/done/2025-10-02-10-39-03-consolidate-db-setup.md
  spec/todos/work/2025-10-02-10-39-03-consolidate-db-setup/task.md
Due: prettier --write

Consolidate database structure definitions into shared package (#192)
  .changeset/consolidate-database-structures.md
  packages/core-shared/src/api/database-structures.ts
  packages/core-shared/src/index.ts
  packages/web-api/package.json
  packages/web-api/src/utils/setup-user-db.ts
  packages/web-client/package.json
  packages/web-client/src/database_setup.ts
  spec/todos/done/2025-10-02-10-39-03-consolidate-db-setup.md
Due: eslint --fix, prettier --write

chore: update pnpm-lock.yaml for core-shared dependencies
  pnpm-lock.yaml
Due: none

docs: add tanstack query time tracking task spec
  spec/todos/work/2025-10-05-16-56-36-tanstack-query-time-tracking/task.md
Due: prettier --write

feat: migrate time tracking to tanstack query
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/hooks/use_time_tracking_active.test.ts
  packages/web-client/src/hooks/use_time_tracking_active.ts
  spec/todos/work/2025-10-05-16-56-36-tanstack-query-time-tracking/task.md
Due: eslint --fix, prettier --write

docs: mark time tracking migration task complete
  .changeset/tanstack-query-time-tracking.md
  spec/todos/done/2025-10-05-16-56-36-tanstack-query-time-tracking.md
Due: prettier --write

Migrate time tracking to TanStack Query (#193)
  .changeset/tanstack-query-time-tracking.md
  packages/web-client/src/components/todo_board.tsx
  packages/web-client/src/hooks/use_time_tracking_active.test.ts
  packages/web-client/src/hooks/use_time_tracking_active.ts
  spec/todos/done/2025-10-05-16-56-36-tanstack-query-time-tracking.md
Due: eslint --fix, prettier --write

refactor: split design docs into separate documents
  packages/core-shared/src/api/database-structures.ts
  packages/web-client/src/components/todo_board.test.tsx
  packages/web-client/src/hooks/use_activities_by_week.ts
  packages/web-client/src/hooks/use_time_tracking_active.test.ts
  packages/web-client/src/hooks/use_time_tracking_active.ts
  packages/web-client/src/hooks/use_todos_by_week.ts
  spec/todos/work/2025-10-05-17-36-28-split-design-docs/task.md
Due: eslint --fix, prettier --write

docs: mark implementation tasks as completed
  spec/todos/work/2025-10-05-17-36-28-split-design-docs/task.md
Due: prettier --write

fix: add null check in time tracking active view
  .changeset/split-design-documents.md
  packages/core-shared/src/api/database-structures.ts
  spec/todos/done/2025-10-05-17-36-28-split-design-docs.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})
  prettier --write: ((((any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})) or (any of: *.{ts,js})) or (any of: packages/**/*.{json,md})) or (any of: *.{json,md})
