Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: use UTC date methods in agent-loop integration tests
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
Due: eslint --fix, prettier --write

fix: mcp test server port
  packages/mcp_server/src/mcp-server.ts
  scripts/run-telegram-bot-integration-tests.ts
Due: eslint --fix, prettier --write

fix: TS
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
Due: eslint --fix, prettier --write

fix: random using crypto
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
Due: eslint --fix, prettier --write

fix: linting
  packages/mcp_server/src/integration-tests/setup/global-setup.ts
  packages/mcp_server/src/integration-tests/setup/global.ts
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/integration-tests/helpers/agent-assertions.ts
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
Due: eslint --fix, prettier --write

fix: test user id
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
Due: eslint --fix, prettier --write

fix: replace Math.random() with crypto:randomBytes
  packages/core-server/src/utils/database-names.ts
  packages/mcp_server/src/integration-tests/setup/test-lock.ts
  packages/mcp_server/src/integration-tests/setup/test-mcp-server.ts
  packages/mcp_server/src/integration-tests/setup/test-server.ts
  packages/telegram_bot/src/ai/claude.ts
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/web-api/src/utils/crypto.ts
Due: eslint --fix, prettier --write

fix: randomize utils
  packages/core-server/src/utils/database-names.ts
  packages/core-shared/src/index.ts
  packages/core-shared/src/utils/random.test.ts
  packages/core-shared/src/utils/random.ts
  packages/mcp_server/src/integration-tests/setup/test-lock.ts
  packages/mcp_server/src/integration-tests/setup/test-mcp-server.ts
  packages/mcp_server/src/integration-tests/setup/test-server.ts
  packages/telegram_bot/src/ai/claude.ts
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/web-api/src/utils/crypto.ts
Due: eslint --fix, prettier --write

fix: Uses rejection sampling for unbiased distribution
  packages/core-shared/src/utils/random.ts
Due: eslint --fix, prettier --write

fix: ci command to run integration tests
  .github/workflows/test.yml
Due: none

test: run agent-loop tests on ci
  .github/workflows/test.yml
Due: none

fix: use correct db for e2e agent loop tests
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
Due: eslint --fix, prettier --write

fix: e2e agent loop tests
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
Due: eslint --fix, prettier --write

fix: optimized e2e agent loop with vcr
  .github/workflows/test.yml
  CLAUDE.md
  package.json
  packages/telegram_bot/src/agent/simple-agent.ts
  packages/telegram_bot/src/integration-tests/cassettes/.gitkeep
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
  packages/telegram_bot/src/integration-tests/vcr/cached-claude-service.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-manager.ts
  packages/telegram_bot/src/integration-tests/vcr/index.ts
Due: eslint --fix, prettier --write

fix: do not require api keys in vcr playback mode
  .github/workflows/test.yml
  CLAUDE.md
  packages/telegram_bot/src/ai/claude.ts
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/utils/config.ts
Due: eslint --fix, prettier --write

fix: get path consistently local/ci
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
Due: eslint --fix, prettier --write

fix: match llm model for cassette
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
Due: eslint --fix, prettier --write

fix: update vcr cassettes
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/helpers/agent-assertions.ts
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-manager.ts
Due: eslint --fix, prettier --write

fix: regex ordering
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/vcr/cassette-manager.ts
Due: eslint --fix, prettier --write

fix: localhost normzliation
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/helpers/agent-assertions.ts
  packages/telegram_bot/src/integration-tests/setup/test-agent-server.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-manager.ts
Due: eslint --fix, prettier --write

fix(telegram-bot): add debug output to identify VCR hash mismatch cause
  .gitattributes
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/vcr/cassette-manager.ts
Due: eslint --fix, prettier --write

fix(telegram-bot): force gtd_coach persona in VCR tests
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-manager.ts
Due: eslint --fix, prettier --write

fix: test env
  packages/telegram_bot/src/integration-tests/cassettes/ambiguous-input.json
  packages/telegram_bot/src/integration-tests/cassettes/complete-todo-workflow.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-context-tags.json
  packages/telegram_bot/src/integration-tests/cassettes/create-todo-natural-language.json
  packages/telegram_bot/src/integration-tests/cassettes/multi-step-create-list.json
  packages/telegram_bot/src/integration-tests/setup/vcr-env-setup.ts
  packages/telegram_bot/src/integration-tests/suites/agent-loop.test.ts
  packages/telegram_bot/vitest.integration.config.ts
Due: eslint --fix, prettier --write

chore: cleanup
  dev/ISSUE-consolidate-mcp-tests.md
  packages/mcp_server/src/integration-tests/setup/test-mcp-server.ts
  packages/telegram_bot/src/integration-tests/vcr/cassette-manager.ts
Due: eslint --fix, prettier --write

chore: cleanup
  CLAUDE.md
  packages/mcp_server/src/integration-tests/setup/global-setup.ts
  packages/mcp_server/vitest.integration.config.ts
Due: eslint --fix, prettier --write

chore: remove local cc commands
  .claude/commands/commit.md
  .claude/commands/create-issue.md
  .claude/commands/create-pr.md
  .claude/commands/fix-issue.md
  .claude/commands/review.md
  .claude/commands/todo.md
  .claude/settings.json
  .claude/settings.local.json
Due: prettier --write

chore: dependabot changeset setup
  .github/workflows/dependabot-changeset.yml
Due: none

fix: resolve high severity qs DoS vulnerability via pnpm override
  .changeset/fix-qs-vulnerability.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: resolve high severity qs DoS vulnerability via pnpm override (#326)
  .changeset/fix-qs-vulnerability.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update ./spec/todo.md
  spec/todo.md
Due: prettier --write

chore: move e2e tests task to done
  spec/todos/done/2025-08-05-09-23-12-e2e-tests-agent-loop.md
Due: prettier --write

feat: add remember me checkbox to login page
  .changeset/remember-me-login.md
  packages/web-api/src/routes/auth.test.ts
  packages/web-api/src/routes/auth.ts
  packages/web-client/src/components/login.test.tsx
  packages/web-client/src/components/login.tsx
  packages/web-client/src/hooks/use_auth.test.tsx
  packages/web-client/src/hooks/use_auth.tsx
  spec/todo.md
  spec/todos/done/2026-01-01-22-49-34-remember-me-login.md
Due: eslint --fix, prettier --write

feat: add remember me checkbox to login page (#349)
  .changeset/remember-me-login.md
  packages/web-api/src/routes/auth.test.ts
  packages/web-api/src/routes/auth.ts
  packages/web-client/src/components/login.test.tsx
  packages/web-client/src/components/login.tsx
  packages/web-client/src/hooks/use_auth.test.tsx
  packages/web-client/src/hooks/use_auth.tsx
  spec/todo.md
  spec/todos/done/2026-01-01-22-49-34-remember-me-login.md
Due: eslint --fix, prettier --write

chore: todo
  spec/todo.md
  spec/todos/work/2026-01-01-23-07-47-lint-warnings/task.md
Due: prettier --write

refactor(mcp-server): extract tool handlers into modular files
  packages/mcp_server/src/mcp-server.ts
  packages/mcp_server/src/tools/create-todo.ts
  packages/mcp_server/src/tools/delete-todo.ts
  packages/mcp_server/src/tools/index.ts
  packages/mcp_server/src/tools/list-todos.ts
  packages/mcp_server/src/tools/response-helpers.ts
  packages/mcp_server/src/tools/server-info.ts
  packages/mcp_server/src/tools/time-tracking.ts
  packages/mcp_server/src/tools/toggle-completion.ts
  packages/mcp_server/src/tools/types.ts
  packages/mcp_server/src/tools/update-todo.ts
  packages/mcp_server/src/tools/user-info.ts
Due: eslint --fix, prettier --write

refactor(telegram-bot): extract agent helpers into modular files
  packages/telegram_bot/src/agent/helpers/index.ts
  packages/telegram_bot/src/agent/helpers/mcp-info.ts
  packages/telegram_bot/src/agent/helpers/message-handler.ts
  packages/telegram_bot/src/agent/helpers/response-parser.ts
  packages/telegram_bot/src/agent/helpers/state-logger.ts
  packages/telegram_bot/src/agent/helpers/tool-executor.ts
  packages/telegram_bot/src/agent/helpers/types.ts
  packages/telegram_bot/src/agent/simple-agent.ts
Due: eslint --fix, prettier --write

refactor(telegram-bot): extract scheduler helpers into modular files
  packages/telegram_bot/src/scheduler/daily-briefing.ts
  packages/telegram_bot/src/scheduler/helpers/agent-runner.ts
  packages/telegram_bot/src/scheduler/helpers/index.ts
  packages/telegram_bot/src/scheduler/helpers/printer.ts
  packages/telegram_bot/src/scheduler/helpers/telegram-sender.ts
Due: eslint --fix, prettier --write

refactor: extract helper modules to reduce ESLint warnings
  packages/core-server/src/api/user-registry-design-docs.ts
  packages/core-server/src/api/user-registry-test.ts
  packages/core-server/src/api/user-registry.ts
  packages/web-api/src/github/client.ts
  packages/web-api/src/github/issue-fetcher.ts
  packages/web-api/src/github/query-builder.ts
  packages/web-api/src/github/sync-helpers.ts
  packages/web-api/src/github/sync-scheduler.ts
  scripts/backup-interactive-prompts.ts
  scripts/backup-interactive.test.ts
  scripts/backup-interactive.ts
  scripts/backup-retention.ts
  scripts/restore-interactive-prompts.ts
  scripts/restore-interactive.ts
  scripts/verify-backup.ts
  spec/todos/work/2026-01-01-23-07-47-lint-warnings/task.md
Due: eslint --fix, prettier --write

refactor: extract more helper modules for lint warnings
  packages/web-api/src/routes/users-helpers.ts
  packages/web-api/src/routes/users.ts
  scripts/backup-scheduler-helpers.ts
  scripts/backup-scheduler.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})
  prettier --write: ((((any of: packages/**/*.{ts,tsx,js}) or (any of: scripts/**/*.{ts,js})) or (any of: *.{ts,js})) or (any of: packages/**/*.{json,md})) or (any of: *.{json,md})
