Repository walterra/eddoapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

.lintstagedrc.json:

{
  "packages/**/*.{ts,tsx,js}": ["eslint --fix", "prettier --write"],
  "scripts/**/*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{ts,js}": ["prettier --write"],
  "packages/**/*.{json,md}": ["prettier --write"],
  "*.{json,md}": ["prettier --write"],
  ".changeset/*.md": ["tsx scripts/lint-changesets.ts"]
}

feat: add API key warning banner in chat page
  packages/web-client/src/components/chat/chat_page.tsx
Due: eslint --fix, prettier --write

feat: include MCP server in dev script
  package.json
Due: prettier --write

fix: add aiProviderKeys to web-client UserPreferences type
  packages/web-client/src/hooks/use_profile_types.ts
Due: eslint --fix, prettier --write

feat(mcp-server): add MCP_HOST env var for host config
  packages/mcp_server/src/mcp-server.ts
Due: eslint --fix, prettier --write

fix: add clipboard copy fallback for Safari browsers
  packages/web-client/src/components/copy_id_button.tsx
Due: eslint --fix, prettier --write

refactor: move setup wizard to packages/setup package
  package.json
  packages/setup/package.json
  packages/setup/src/cli.ts
  packages/setup/src/display.ts
  packages/setup/src/docker.ts
  packages/setup/src/env.ts
  packages/setup/src/index.ts
  packages/setup/src/pi-skills.ts
  packages/setup/src/prerequisites.ts
  packages/setup/src/prompts.ts
  packages/setup/src/types.ts
  packages/setup/src/workspace.ts
  packages/setup/tsconfig.json
  pnpm-lock.yaml
  scripts/setup-helpers.ts
  scripts/setup.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: pass user password via env var to avoid ps exposure
  .gitignore
  packages/setup/src/workspace.ts
  scripts/create-default-user.ts
Due: eslint --fix, prettier --write

fix: build setup package before running dev:setup cli
  package.json
Due: prettier --write

refactor(config): split pi-skills into detection/install modules
  packages/setup/src/display.ts
  packages/setup/src/index.ts
  packages/setup/src/pi-skills-detection.test.ts
  packages/setup/src/pi-skills-detection.ts
  packages/setup/src/pi-skills-install.test.ts
  packages/setup/src/pi-skills-install.ts
  packages/setup/src/pi-skills.ts
  packages/setup/src/prompts.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor: treat skill conflicts as warnings not errors
  packages/setup/src/pi-skills-install.test.ts
  packages/setup/src/pi-skills-install.ts
Due: eslint --fix, prettier --write

refactor: build packages sequentially with progress
  packages/setup/src/workspace.ts
Due: eslint --fix, prettier --write

refactor: replace ora spinner with console.log in setup
  packages/setup/src/workspace.ts
Due: eslint --fix, prettier --write

docs: restructure README with demo video and clearer docs
  README.md
Due: prettier --write

docs: refine README messaging as personal project
  README.md
Due: prettier --write

feat(scripts): add setup E2E tests and GitHub Actions workflow
  .github/workflows/setup-e2e.yml
  packages/setup/package.json
  packages/setup/src/env.test.ts
  packages/setup/src/pi-skills-detection.test.ts
  packages/setup/src/pi-skills-install.test.ts
  packages/setup/src/prerequisites.test.ts
  packages/setup/src/prompts.test.ts
  pnpm-lock.yaml
  scripts/__tests__/e2e/setup.e2e.test.ts
Due: eslint --fix, prettier --write

fix: prevent shell injection and ReDoS in setup
  packages/setup/src/docker.ts
  packages/setup/src/prerequisites.ts
Due: eslint --fix, prettier --write

fix: ensure user registry db exists before user creation
  scripts/create-default-user.ts
Due: eslint --fix, prettier --write

refactor: improve doctor E2E test CI compatibility
  scripts/__tests__/e2e/setup.e2e.test.ts
Due: eslint --fix, prettier --write

feat: add dev:purge command for environment cleanup
  .github/workflows/setup-e2e.yml
  package.json
  scripts/purge.ts
Due: eslint --fix, prettier --write

fix: include chat-eddo-* and searxng in docker cleanup
  .github/workflows/setup-e2e.yml
  scripts/purge.ts
Due: eslint --fix, prettier --write

fix: update container naming from chat-eddo to eddo-chat
  .github/workflows/setup-e2e.yml
  scripts/purge.ts
Due: eslint --fix, prettier --write

refactor: improve purge script and clarify setup prompts
  packages/setup/src/prompts.ts
  scripts/purge.ts
Due: eslint --fix, prettier --write

refactor(scripts): update IndexedDB clearing with console cmd
  scripts/purge.ts
Due: eslint --fix, prettier --write

feat(config): add auto-install for Graphviz dependency
  packages/chat-agent/extensions/graphviz-chart/graphviz-reference.md
  packages/chat-agent/extensions/graphviz-chart/index.ts
  packages/setup/src/prompts.ts
Due: eslint --fix, prettier --write

feat(config): vega-chart auto-install Python deps via uv
  packages/chat-agent/extensions/vega-chart/index.ts
  packages/chat-agent/extensions/vega-chart/vega-lite-reference.md
Due: eslint --fix, prettier --write

feat(scripts): add pi-agent symlink cleanup to purge
  scripts/purge.ts
Due: eslint --fix, prettier --write

refactor: change default view mode from kanban to table
  packages/web-client/src/components/todo_filters.test.tsx
  packages/web-client/src/hooks/use_view_preferences.ts
Due: eslint --fix, prettier --write

refactor: rename setup/doctor commands to dev: prefix
  .changeset/getting-started-wizard.md
  packages/setup/src/display.ts
  packages/setup/src/env.test.ts
  packages/setup/src/env.ts
  scripts/doctor-helpers.ts
  scripts/doctor.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

fix: prevent duplicate keyboard shortcut in AddTodoPopover
  packages/web-client/src/components/add_todo_popover.tsx
  packages/web-client/src/components/todo_filters_row.tsx
Due: eslint --fix, prettier --write

feat: add session metadata extension for pi agent
  packages/chat-agent/extensions/session-metadata/index.ts
Due: eslint --fix, prettier --write

test: update default viewMode expectation to table
  packages/web-client/src/hooks/use_view_preferences.test.ts
Due: eslint --fix, prettier --write

feat: add notes search and improve todo/notes sorting
  packages/web-api/src/elasticsearch/sync-transforms.ts
  packages/web-api/src/elasticsearch/todo-mapping.ts
  packages/web-api/src/routes/search-query-parser.ts
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/todo_notes_field.tsx
  packages/web-client/src/components/todo_table_helpers.ts
  packages/web-client/src/components/todo_view_fields.tsx
  packages/web-client/src/components/todos_view.tsx
Due: eslint --fix, prettier --write

feat(web-api): add ES index versioning and exact phrase search
  packages/web-api/src/elasticsearch/index-migration.ts
  packages/web-api/src/elasticsearch/sync-changes-listener.ts
  packages/web-api/src/elasticsearch/sync-service.ts
  packages/web-api/src/elasticsearch/sync-watcher.ts
  packages/web-api/src/elasticsearch/todo-mapping.ts
  packages/web-api/src/routes/search-handlers.ts
  packages/web-api/src/routes/search-query-parser.ts
  packages/web-client/src/components/search_popover.tsx
  packages/web-client/src/hooks/use_search_popover.ts
Due: eslint --fix, prettier --write

feat(config): detect outdated Docker image and prompt rebuild
  packages/setup/src/cli.ts
  packages/setup/src/display.ts
  packages/setup/src/docker.ts
  packages/setup/src/index.ts
  packages/setup/src/prompts.ts
Due: eslint --fix, prettier --write

feat: add bundle splitting and async theme loading
  .changeset/bundle-splitting.md
  .flowbite-react/config.json
  .github/workflows/test.yml
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph/themes/context.tsx
  packages/web-client/src/components/todo_graph/themes/index.ts
  packages/web-client/src/components/todo_graph_theme_selector.tsx
  packages/web-client/src/components/todos_view.tsx
  packages/web-client/src/eddo.tsx
  packages/web-client/vite.config.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

style: wrap bundle breakdown in collapsible details element
  .github/workflows/test.yml
Due: none

feat: add bundle splitting and lazy loading for 53% initial bundle reduction (#490)
  .changeset/bundle-splitting.md
  .flowbite-react/config.json
  .github/workflows/test.yml
  packages/web-client/src/components/page_wrapper.tsx
  packages/web-client/src/components/todo_graph.tsx
  packages/web-client/src/components/todo_graph/themes/context.tsx
  packages/web-client/src/components/todo_graph/themes/index.ts
  packages/web-client/src/components/todo_graph_theme_selector.tsx
  packages/web-client/src/components/todos_view.tsx
  packages/web-client/src/eddo.tsx
  packages/web-client/vite.config.ts
Due: eslint --fix, prettier --write, tsx scripts/lint-changesets.ts

feat: add rpg2 theme assets and track public folder
  packages/web-client/.gitignore
  packages/web-client/public/theme-assets/rpg2/building-1.png
  packages/web-client/public/theme-assets/rpg2/building-2.png
  packages/web-client/public/theme-assets/rpg2/building-3.png
  packages/web-client/public/theme-assets/rpg2/building-4.png
  packages/web-client/public/theme-assets/rpg2/bush.png
  packages/web-client/public/theme-assets/rpg2/cart.png
  packages/web-client/public/theme-assets/rpg2/dirt-tile.png
  packages/web-client/public/theme-assets/rpg2/grass-tile-desaturated.png
  packages/web-client/public/theme-assets/rpg2/grass-tile.png
  packages/web-client/public/theme-assets/rpg2/road-corner-ne.png
  packages/web-client/public/theme-assets/rpg2/road-corner-nw.png
  packages/web-client/public/theme-assets/rpg2/road-corner-se.png
  packages/web-client/public/theme-assets/rpg2/road-corner-sw.png
  packages/web-client/public/theme-assets/rpg2/road-cross.png
  packages/web-client/public/theme-assets/rpg2/road-tile.png
  packages/web-client/public/theme-assets/rpg2/signpost.png
  packages/web-client/public/theme-assets/rpg2/todo-completed.png
  packages/web-client/public/theme-assets/rpg2/todo-pending.png
  packages/web-client/public/theme-assets/rpg2/tree-orange.png
  packages/web-client/public/theme-assets/rpg2/tree-plain.png
  packages/web-client/public/theme-assets/rpg2/tree-plain2.png
  packages/web-client/public/theme-assets/rpg2/tree-red.png
  packages/web-client/public/theme-assets/rpg2/tree-yellow.png
  packages/web-client/public/theme-assets/rpg2/tree.png
Due: none

fix: commit RPG theme assets for graph view (#491)
  packages/web-client/.gitignore
  packages/web-client/public/theme-assets/rpg2/building-1.png
  packages/web-client/public/theme-assets/rpg2/building-2.png
  packages/web-client/public/theme-assets/rpg2/building-3.png
  packages/web-client/public/theme-assets/rpg2/building-4.png
  packages/web-client/public/theme-assets/rpg2/bush.png
  packages/web-client/public/theme-assets/rpg2/cart.png
  packages/web-client/public/theme-assets/rpg2/dirt-tile.png
  packages/web-client/public/theme-assets/rpg2/grass-tile-desaturated.png
  packages/web-client/public/theme-assets/rpg2/grass-tile.png
  packages/web-client/public/theme-assets/rpg2/road-corner-ne.png
  packages/web-client/public/theme-assets/rpg2/road-corner-nw.png
  packages/web-client/public/theme-assets/rpg2/road-corner-se.png
  packages/web-client/public/theme-assets/rpg2/road-corner-sw.png
  packages/web-client/public/theme-assets/rpg2/road-cross.png
  packages/web-client/public/theme-assets/rpg2/road-tile.png
  packages/web-client/public/theme-assets/rpg2/signpost.png
  packages/web-client/public/theme-assets/rpg2/todo-completed.png
  packages/web-client/public/theme-assets/rpg2/todo-pending.png
  packages/web-client/public/theme-assets/rpg2/tree-orange.png
  packages/web-client/public/theme-assets/rpg2/tree-plain.png
  packages/web-client/public/theme-assets/rpg2/tree-plain2.png
  packages/web-client/public/theme-assets/rpg2/tree-red.png
  packages/web-client/public/theme-assets/rpg2/tree-yellow.png
  packages/web-client/public/theme-assets/rpg2/tree.png
Due: none
